GeneralPlatform4WS/Service References/ServiceReferenceQxUserState/QxUserStateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserState_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetQxUserState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserStateEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserState_GetQxUserStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_GetQxUserStateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetObjByUserStateId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserStateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetObjByUserStateIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetObjByUserStateIdResult" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetQxUserStateV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetQxUserStateVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_GetQxUserStateVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetObjLstResult" type="tns:ArrayOfClsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserStateEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserStateEN" nillable="true" type="tns:clsQxUserStateEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetTopObjLstResult" type="tns:ArrayOfClsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetFirstObj_SResult" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserStateId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserStateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserStateIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByUserStateIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserStateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxUserState_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserStateJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserStateObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserStateJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserStateObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserStateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelQxUserStates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelQxUserStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_DelQxUserStatesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelQxUserStatesByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_DelQxUserStatesByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserState_DelQxUserStatesByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserStateEN" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserStateEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserStateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserState_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserState_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserState_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetQxUserStateSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetQxUserState" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetQxUserStateSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetQxUserStateResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetObjByUserStateIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetObjByUserStateId" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetObjByUserStateIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetObjByUserStateIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetQxUserStateVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetQxUserStateV" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetQxUserStateVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetQxUserStateVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserStateIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserStateId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserStateIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserStateIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserState_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserState_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserState_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxUserState_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserState_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserState_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelQxUserStatesSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_DelQxUserStates" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelQxUserStatesSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_DelQxUserStatesResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelQxUserStatesByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_DelQxUserStatesByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserState_DelQxUserStatesByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_DelQxUserStatesByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserState_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserState_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserStateServiceSoap">
    <wsdl:operation name="QxUserState_GetDataSet">
      <wsdl:input message="tns:QxUserState_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserState_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopDataSet">
      <wsdl:input message="tns:QxUserState_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserState_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetByRange">
      <wsdl:input message="tns:QxUserState_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserState_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetV">
      <wsdl:input message="tns:QxUserState_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserState_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserState">
      <wsdl:input message="tns:QxUserState_GetQxUserStateSoapIn" />
      <wsdl:output message="tns:QxUserState_GetQxUserStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjByUserStateId">
      <wsdl:input message="tns:QxUserState_GetObjByUserStateIdSoapIn" />
      <wsdl:output message="tns:QxUserState_GetObjByUserStateIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserStateV">
      <wsdl:input message="tns:QxUserState_GetQxUserStateVSoapIn" />
      <wsdl:output message="tns:QxUserState_GetQxUserStateVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjLst">
      <wsdl:input message="tns:QxUserState_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserState_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopObjLst">
      <wsdl:input message="tns:QxUserState_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserState_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstID_S">
      <wsdl:input message="tns:QxUserState_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserState_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstObj_S">
      <wsdl:input message="tns:QxUserState_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserState_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserStateId">
      <wsdl:input message="tns:GetJSONObjByUserStateIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByUserStateIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserState_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserState_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExistRecord">
      <wsdl:input message="tns:QxUserState_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserState_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExist">
      <wsdl:input message="tns:QxUserState_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserState_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrId">
      <wsdl:input message="tns:QxUserState_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxUserState_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxUserState_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxUserState_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserState_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserState_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserState_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserState_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserState_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserState_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2">
      <wsdl:input message="tns:QxUserState_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserState_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserState_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserState_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserState_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserState_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserState_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserState_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelRecord">
      <wsdl:input message="tns:QxUserState_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserState_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStates">
      <wsdl:input message="tns:QxUserState_DelQxUserStatesSoapIn" />
      <wsdl:output message="tns:QxUserState_DelQxUserStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStatesByCond">
      <wsdl:input message="tns:QxUserState_DelQxUserStatesByCondSoapIn" />
      <wsdl:output message="tns:QxUserState_DelQxUserStatesByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserState_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserState_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserState_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserState_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserState_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserState_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserStateServiceSoap" type="tns:QxUserStateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserState_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserState">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetQxUserState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjByUserStateId">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetObjByUserStateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserStateV">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetQxUserStateV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserStateId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByUserStateId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserState_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserState_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserState_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxUserState_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserState_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserState_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStates">
      <soap:operation soapAction="http://tempuri.org/QxUserState_DelQxUserStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStatesByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserState_DelQxUserStatesByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserState_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserState_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserState_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserStateServiceSoap12" type="tns:QxUserStateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserState_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserState">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetQxUserState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjByUserStateId">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetObjByUserStateId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetQxUserStateV">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetQxUserStateV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserStateId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByUserStateId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStates">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_DelQxUserStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_DelQxUserStatesByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_DelQxUserStatesByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserState_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserState_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserStateService">
    <wsdl:port name="QxUserStateServiceSoap" binding="tns:QxUserStateServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/QxUserStateService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserStateServiceSoap12" binding="tns:QxUserStateServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/QxUserStateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>