GeneralPlatform4WS/Service References/ServiceReferencevQxViewPotence/vQxViewPotenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxViewPotence_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetvQxViewPotence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewPotenceEN" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxViewPotenceEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ModuleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModuleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxViewPotence_GetvQxViewPotenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_GetvQxViewPotenceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewPotenceEN" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetObjBymIdResult" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetvQxViewPotenceV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewPotenceEN" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetvQxViewPotenceVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_GetvQxViewPotenceVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewPotenceEN" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetObjLstResult" type="tns:ArrayOfClsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxViewPotenceEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxViewPotenceEN" nillable="true" type="tns:clsvQxViewPotenceEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetTopObjLstResult" type="tns:ArrayOfClsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_GetFirstObj_SResult" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewPotence_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewPotenceEN" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewPotence_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewPotence_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxViewPotence_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetvQxViewPotenceSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetvQxViewPotence" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetvQxViewPotenceSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetvQxViewPotenceResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetvQxViewPotenceVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetvQxViewPotenceV" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetvQxViewPotenceVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetvQxViewPotenceVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewPotence_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewPotence_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxViewPotenceServiceSoap">
    <wsdl:operation name="vQxViewPotence_GetDataSet">
      <wsdl:input message="tns:vQxViewPotence_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopDataSet">
      <wsdl:input message="tns:vQxViewPotence_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetDataSetByRange">
      <wsdl:input message="tns:vQxViewPotence_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotence">
      <wsdl:input message="tns:vQxViewPotence_GetvQxViewPotenceSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetvQxViewPotenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjBymId">
      <wsdl:input message="tns:vQxViewPotence_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotenceV">
      <wsdl:input message="tns:vQxViewPotence_GetvQxViewPotenceVSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetvQxViewPotenceVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjLst">
      <wsdl:input message="tns:vQxViewPotence_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopObjLst">
      <wsdl:input message="tns:vQxViewPotence_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstID_S">
      <wsdl:input message="tns:vQxViewPotence_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstObj_S">
      <wsdl:input message="tns:vQxViewPotence_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_funGetRecCountByCond">
      <wsdl:input message="tns:vQxViewPotence_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExistRecord">
      <wsdl:input message="tns:vQxViewPotence_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExist">
      <wsdl:input message="tns:vQxViewPotence_IsExistSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxViewPotence_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxViewPotence_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxViewPotence_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewPotence_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxViewPotenceServiceSoap" type="tns:vQxViewPotenceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxViewPotence_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotence">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetvQxViewPotence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotenceV">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetvQxViewPotenceV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxViewPotenceServiceSoap12" type="tns:vQxViewPotenceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxViewPotence_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotence">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetvQxViewPotence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetvQxViewPotenceV">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetvQxViewPotenceV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewPotence_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxViewPotenceService">
    <wsdl:port name="vQxViewPotenceServiceSoap" binding="tns:vQxViewPotenceServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/InterfaceMan/vQxViewPotenceService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxViewPotenceServiceSoap12" binding="tns:vQxViewPotenceServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/InterfaceMan/vQxViewPotenceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>