GeneralPlatform4WS/Service References/ServiceReferenceQxViewPotence/QxViewPotenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxViewPotence_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetQxViewPotence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxViewPotenceEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxViewPotence_GetQxViewPotenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_GetQxViewPotenceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetObjBymIdResult" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetQxViewPotenceV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetQxViewPotenceVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_GetQxViewPotenceVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetObjLstResult" type="tns:ArrayOfClsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxViewPotenceEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxViewPotenceEN" nillable="true" type="tns:clsQxViewPotenceEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetTopObjLstResult" type="tns:ArrayOfClsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_GetFirstObj_SResult" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxViewPotenceJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxViewPotenceObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxViewPotenceJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxViewPotenceObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelQxViewPotences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelQxViewPotencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_DelQxViewPotencesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelQxViewPotencesByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_DelQxViewPotencesByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxViewPotence_DelQxViewPotencesByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxViewPotenceEN" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxViewPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxViewPotence_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxViewPotence_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxViewPotence_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetQxViewPotenceSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetQxViewPotence" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetQxViewPotenceSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetQxViewPotenceResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetQxViewPotenceVSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetQxViewPotenceV" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetQxViewPotenceVSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetQxViewPotenceVResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelQxViewPotencesSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelQxViewPotences" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelQxViewPotencesSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelQxViewPotencesResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelQxViewPotencesByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelQxViewPotencesByCond" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_DelQxViewPotencesByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_DelQxViewPotencesByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxViewPotence_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxViewPotence_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxViewPotenceServiceSoap">
    <wsdl:operation name="QxViewPotence_GetDataSet">
      <wsdl:input message="tns:QxViewPotence_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopDataSet">
      <wsdl:input message="tns:QxViewPotence_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetByRange">
      <wsdl:input message="tns:QxViewPotence_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetV">
      <wsdl:input message="tns:QxViewPotence_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotence">
      <wsdl:input message="tns:QxViewPotence_GetQxViewPotenceSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetQxViewPotenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjBymId">
      <wsdl:input message="tns:QxViewPotence_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotenceV">
      <wsdl:input message="tns:QxViewPotence_GetQxViewPotenceVSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetQxViewPotenceVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjLst">
      <wsdl:input message="tns:QxViewPotence_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopObjLst">
      <wsdl:input message="tns:QxViewPotence_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstID_S">
      <wsdl:input message="tns:QxViewPotence_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstObj_S">
      <wsdl:input message="tns:QxViewPotence_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxViewPotence_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_funGetRecCountByCond">
      <wsdl:input message="tns:QxViewPotence_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxViewPotence_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExistRecord">
      <wsdl:input message="tns:QxViewPotence_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxViewPotence_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExist">
      <wsdl:input message="tns:QxViewPotence_IsExistSoapIn" />
      <wsdl:output message="tns:QxViewPotence_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2">
      <wsdl:input message="tns:QxViewPotence_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxViewPotence_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxViewPotence_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxViewPotence_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxViewPotence_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxViewPotence_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxViewPotence_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxViewPotence_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2">
      <wsdl:input message="tns:QxViewPotence_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxViewPotence_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxViewPotence_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxViewPotence_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxViewPotence_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxViewPotence_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql_XML">
      <wsdl:input message="tns:QxViewPotence_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxViewPotence_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelRecord">
      <wsdl:input message="tns:QxViewPotence_DelRecordSoapIn" />
      <wsdl:output message="tns:QxViewPotence_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotences">
      <wsdl:input message="tns:QxViewPotence_DelQxViewPotencesSoapIn" />
      <wsdl:output message="tns:QxViewPotence_DelQxViewPotencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotencesByCond">
      <wsdl:input message="tns:QxViewPotence_DelQxViewPotencesByCondSoapIn" />
      <wsdl:output message="tns:QxViewPotence_DelQxViewPotencesByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxViewPotence_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxViewPotence_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxViewPotence_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxViewPotence_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxViewPotence_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxViewPotence_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxViewPotenceServiceSoap" type="tns:QxViewPotenceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxViewPotence_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotence">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetQxViewPotence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotenceV">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetQxViewPotenceV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotences">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_DelQxViewPotences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotencesByCond">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_DelQxViewPotencesByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxViewPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxViewPotenceServiceSoap12" type="tns:QxViewPotenceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxViewPotence_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotence">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetQxViewPotence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetQxViewPotenceV">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetQxViewPotenceV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotences">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_DelQxViewPotences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_DelQxViewPotencesByCond">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_DelQxViewPotencesByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxViewPotence_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxViewPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxViewPotenceService">
    <wsdl:port name="QxViewPotenceServiceSoap" binding="tns:QxViewPotenceServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/InterfaceMan/QxViewPotenceService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxViewPotenceServiceSoap12" binding="tns:QxViewPotenceServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/InterfaceMan/QxViewPotenceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>