GeneralPlatform4WS/Service References/ServiceReferencevQxPrjUserRelationByRole/vQxPrjUserRelationByRoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxPrjUserRelationByRole_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjUserRelationByRoleEN" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxPrjUserRelationByRoleEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjUserRelationByRoleEN" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetObjBymIdResult" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjUserRelationByRoleEN" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjUserRelationByRoleEN" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetObjLstResult" type="tns:ArrayOfClsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxPrjUserRelationByRoleEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxPrjUserRelationByRoleEN" nillable="true" type="tns:clsvQxPrjUserRelationByRoleEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetTopObjLstResult" type="tns:ArrayOfClsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_GetFirstObj_SResult" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjUserRelationByRole_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjUserRelationByRoleEN" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxPrjUserRelationByRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxPrjUserRelationByRole_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxPrjUserRelationByRoleServiceSoap">
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSet">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopDataSet">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSetByRange">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjBymId">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjLst">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopObjLst">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstID_S">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstObj_S">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_funGetRecCountByCond">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExistRecord">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExist">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_IsExistSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxPrjUserRelationByRoleServiceSoap" type="tns:vQxPrjUserRelationByRoleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxPrjUserRelationByRoleServiceSoap12" type="tns:vQxPrjUserRelationByRoleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetvQxPrjUserRelationByRoleV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjUserRelationByRole_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxPrjUserRelationByRoleService">
    <wsdl:port name="vQxPrjUserRelationByRoleServiceSoap" binding="tns:vQxPrjUserRelationByRoleServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/vQxPrjUserRelationByRoleService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxPrjUserRelationByRoleServiceSoap12" binding="tns:vQxPrjUserRelationByRoleServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/vQxPrjUserRelationByRoleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>