GeneralPlatform4WS/Service References/ServiceReferenceQxPrjMenuSet/QxPrjMenuSetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxPrjMenuSet_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetQxPrjMenuSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxPrjMenuSetEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetENName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxPrjMenuSet_GetQxPrjMenuSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_GetQxPrjMenuSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetObjByMenuSetId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetObjByMenuSetIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetObjByMenuSetIdResult" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetQxPrjMenuSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetQxPrjMenuSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_GetQxPrjMenuSetVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetObjLstResult" type="tns:ArrayOfClsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxPrjMenuSetEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxPrjMenuSetEN" nillable="true" type="tns:clsQxPrjMenuSetEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetTopObjLstResult" type="tns:ArrayOfClsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetFirstObj_SResult" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByMenuSetId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByMenuSetIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByMenuSetIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxPrjMenuSet_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjMenuSetJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjMenuSetObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjMenuSetJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjMenuSetObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelQxPrjMenuSets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelQxPrjMenuSetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_DelQxPrjMenuSetsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelQxPrjMenuSetsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_DelQxPrjMenuSetsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjMenuSet_DelQxPrjMenuSetsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjMenuSetEN" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjMenuSet_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjMenuSet_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxPrjMenuSet_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetQxPrjMenuSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetQxPrjMenuSet" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetQxPrjMenuSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetQxPrjMenuSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetObjByMenuSetIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetObjByMenuSetId" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetObjByMenuSetIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetObjByMenuSetIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetQxPrjMenuSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetQxPrjMenuSetV" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetQxPrjMenuSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetQxPrjMenuSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByMenuSetIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByMenuSetId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByMenuSetIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByMenuSetIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelQxPrjMenuSetsSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelQxPrjMenuSets" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelQxPrjMenuSetsSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelQxPrjMenuSetsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelQxPrjMenuSetsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelQxPrjMenuSetsByCond" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_DelQxPrjMenuSetsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_DelQxPrjMenuSetsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjMenuSet_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjMenuSet_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxPrjMenuSetServiceSoap">
    <wsdl:operation name="QxPrjMenuSet_GetDataSet">
      <wsdl:input message="tns:QxPrjMenuSet_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopDataSet">
      <wsdl:input message="tns:QxPrjMenuSet_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetByRange">
      <wsdl:input message="tns:QxPrjMenuSet_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetV">
      <wsdl:input message="tns:QxPrjMenuSet_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSet">
      <wsdl:input message="tns:QxPrjMenuSet_GetQxPrjMenuSetSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetQxPrjMenuSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjByMenuSetId">
      <wsdl:input message="tns:QxPrjMenuSet_GetObjByMenuSetIdSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetObjByMenuSetIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSetV">
      <wsdl:input message="tns:QxPrjMenuSet_GetQxPrjMenuSetVSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetQxPrjMenuSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjLst">
      <wsdl:input message="tns:QxPrjMenuSet_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopObjLst">
      <wsdl:input message="tns:QxPrjMenuSet_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstID_S">
      <wsdl:input message="tns:QxPrjMenuSet_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstObj_S">
      <wsdl:input message="tns:QxPrjMenuSet_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <wsdl:input message="tns:GetJSONObjByMenuSetIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByMenuSetIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_funGetRecCountByCond">
      <wsdl:input message="tns:QxPrjMenuSet_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExistRecord">
      <wsdl:input message="tns:QxPrjMenuSet_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExist">
      <wsdl:input message="tns:QxPrjMenuSet_IsExistSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrId">
      <wsdl:input message="tns:QxPrjMenuSet_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxPrjMenuSet_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2">
      <wsdl:input message="tns:QxPrjMenuSet_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxPrjMenuSet_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxPrjMenuSet_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2">
      <wsdl:input message="tns:QxPrjMenuSet_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxPrjMenuSet_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxPrjMenuSet_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql_XML">
      <wsdl:input message="tns:QxPrjMenuSet_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelRecord">
      <wsdl:input message="tns:QxPrjMenuSet_DelRecordSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSets">
      <wsdl:input message="tns:QxPrjMenuSet_DelQxPrjMenuSetsSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_DelQxPrjMenuSetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSetsByCond">
      <wsdl:input message="tns:QxPrjMenuSet_DelQxPrjMenuSetsByCondSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_DelQxPrjMenuSetsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxPrjMenuSet_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxPrjMenuSet_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxPrjMenuSet_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjMenuSet_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxPrjMenuSetServiceSoap" type="tns:QxPrjMenuSetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxPrjMenuSet_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSet">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetQxPrjMenuSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjByMenuSetId">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSetV">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetQxPrjMenuSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSets">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelQxPrjMenuSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSetsByCond">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelQxPrjMenuSetsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxPrjMenuSetServiceSoap12" type="tns:QxPrjMenuSetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxPrjMenuSet_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSet">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetQxPrjMenuSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjByMenuSetId">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetQxPrjMenuSetV">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetQxPrjMenuSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSets">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelQxPrjMenuSets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_DelQxPrjMenuSetsByCond">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_DelQxPrjMenuSetsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjMenuSet_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxPrjMenuSetService">
    <wsdl:port name="QxPrjMenuSetServiceSoap" binding="tns:QxPrjMenuSetServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/QxPrjMenuSetService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxPrjMenuSetServiceSoap12" binding="tns:QxPrjMenuSetServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/QxPrjMenuSetService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>