GeneralPlatform4WS/Service References/ServiceReferenceQxUserMenus/QxUserMenusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserMenus_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetQxUserMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserMenusEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsUseRoleMenu" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserMenus_GetQxUserMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_GetQxUserMenusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetObjBymIdResult" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetQxUserMenusV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetQxUserMenusVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_GetQxUserMenusVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetObjLstResult" type="tns:ArrayOfClsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserMenusEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserMenusEN" nillable="true" type="tns:clsQxUserMenusEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetTopObjLstResult" type="tns:ArrayOfClsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_GetFirstObj_SResult" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenusJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenusObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenusJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenusObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelQxUserMenuss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelQxUserMenussResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_DelQxUserMenussResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelQxUserMenussByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_DelQxUserMenussByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenus_DelQxUserMenussByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenusEN" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenus_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenus_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserMenus_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetQxUserMenusSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetQxUserMenus" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetQxUserMenusSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetQxUserMenusResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetQxUserMenusVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetQxUserMenusV" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetQxUserMenusVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetQxUserMenusVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelQxUserMenussSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelQxUserMenuss" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelQxUserMenussSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelQxUserMenussResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelQxUserMenussByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelQxUserMenussByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_DelQxUserMenussByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_DelQxUserMenussByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenus_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenus_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserMenusServiceSoap">
    <wsdl:operation name="QxUserMenus_GetDataSet">
      <wsdl:input message="tns:QxUserMenus_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopDataSet">
      <wsdl:input message="tns:QxUserMenus_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetByRange">
      <wsdl:input message="tns:QxUserMenus_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetV">
      <wsdl:input message="tns:QxUserMenus_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenus">
      <wsdl:input message="tns:QxUserMenus_GetQxUserMenusSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetQxUserMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjBymId">
      <wsdl:input message="tns:QxUserMenus_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenusV">
      <wsdl:input message="tns:QxUserMenus_GetQxUserMenusVSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetQxUserMenusVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjLst">
      <wsdl:input message="tns:QxUserMenus_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopObjLst">
      <wsdl:input message="tns:QxUserMenus_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstID_S">
      <wsdl:input message="tns:QxUserMenus_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstObj_S">
      <wsdl:input message="tns:QxUserMenus_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserMenus_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserMenus_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserMenus_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExistRecord">
      <wsdl:input message="tns:QxUserMenus_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserMenus_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExist">
      <wsdl:input message="tns:QxUserMenus_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserMenus_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserMenus_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserMenus_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserMenus_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserMenus_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxUserMenus_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxUserMenus_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserMenus_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserMenus_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2">
      <wsdl:input message="tns:QxUserMenus_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserMenus_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserMenus_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserMenus_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserMenus_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserMenus_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserMenus_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserMenus_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelRecord">
      <wsdl:input message="tns:QxUserMenus_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserMenus_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenuss">
      <wsdl:input message="tns:QxUserMenus_DelQxUserMenussSoapIn" />
      <wsdl:output message="tns:QxUserMenus_DelQxUserMenussSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenussByCond">
      <wsdl:input message="tns:QxUserMenus_DelQxUserMenussByCondSoapIn" />
      <wsdl:output message="tns:QxUserMenus_DelQxUserMenussByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserMenus_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenus_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserMenus_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenus_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserMenus_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenus_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserMenusServiceSoap" type="tns:QxUserMenusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserMenus_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenus">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetQxUserMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenusV">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetQxUserMenusV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenuss">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_DelQxUserMenuss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenussByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_DelQxUserMenussByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserMenusServiceSoap12" type="tns:QxUserMenusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserMenus_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenus">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetQxUserMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetQxUserMenusV">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetQxUserMenusV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenuss">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_DelQxUserMenuss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_DelQxUserMenussByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_DelQxUserMenussByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenus_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserMenusService">
    <wsdl:port name="QxUserMenusServiceSoap" binding="tns:QxUserMenusServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/QxUserMenusService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserMenusServiceSoap12" binding="tns:QxUserMenusServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/QxUserMenusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>