GeneralPlatform4WS_Sim/Service References/ServiceReferencevUserRoleRelation/vUserRoleRelationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vUserRoleRelation_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMinNum" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMaxNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserRoleRelationEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name=clsQxProjectsEN.con_QxPrjId type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserRoleRelation_GetvUserRoleRelationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_GetvUserRoleRelationBymIdResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserRoleRelation_GetvUserRoleRelationVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationObjList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetvUserRoleRelationObjListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_GetvUserRoleRelationObjListResult" type="tns:ArrayOfClsvUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvUserRoleRelationEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserRoleRelationEN" nillable="true" type="tns:clsvQxUserRoleRelationEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUserRoleRelation_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserRoleRelation_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetFirstvUserRoleRelation_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_GetFirstvUserRoleRelation_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_GetFirstvUserRoleRelation_SResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserRoleRelation_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserRoleRelation_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_SerializeObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserRoleRelation_SerializeObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserRoleRelation_SerializeObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vUserRoleRelation_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelation" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationBymId" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationVSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationV" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationVSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationVResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationObjListSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationObjList" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetvUserRoleRelationObjListSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetvUserRoleRelationObjListResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetFirstvUserRoleRelation_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetFirstvUserRoleRelation_S" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_GetFirstvUserRoleRelation_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_GetFirstvUserRoleRelation_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_IsExist" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_SerializeObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_SerializeObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUserRoleRelation_SerializeObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUserRoleRelation_SerializeObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vUserRoleRelationServiceSoap">
    <wsdl:operation name="vUserRoleRelation_GetDataSet">
      <wsdl:input message="tns:vUserRoleRelation_GetDataSetSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetDataSetByRange">
      <wsdl:input message="tns:vUserRoleRelation_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelation">
      <wsdl:input message="tns:vUserRoleRelation_GetvUserRoleRelationSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetvUserRoleRelationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationBymId">
      <wsdl:input message="tns:vUserRoleRelation_GetvUserRoleRelationBymIdSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetvUserRoleRelationBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationV">
      <wsdl:input message="tns:vUserRoleRelation_GetvUserRoleRelationVSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetvUserRoleRelationVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationObjList">
      <wsdl:input message="tns:vUserRoleRelation_GetvUserRoleRelationObjListSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetvUserRoleRelationObjListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstID_S">
      <wsdl:input message="tns:vUserRoleRelation_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstvUserRoleRelation_S">
      <wsdl:input message="tns:vUserRoleRelation_GetFirstvUserRoleRelation_SSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_GetFirstvUserRoleRelation_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExistRecord">
      <wsdl:input message="tns:vUserRoleRelation_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExist">
      <wsdl:input message="tns:vUserRoleRelation_IsExistSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjToXMLStr">
      <wsdl:input message="tns:vUserRoleRelation_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjListToXMLStr">
      <wsdl:input message="tns:vUserRoleRelation_SerializeObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:vUserRoleRelation_SerializeObjListToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vUserRoleRelationServiceSoap" type="tns:vUserRoleRelationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUserRoleRelation_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelation">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationBymId">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationV">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationObjList">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationObjList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstvUserRoleRelation_S">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_GetFirstvUserRoleRelation_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExist">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUserRoleRelation_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vUserRoleRelationServiceSoap12" type="tns:vUserRoleRelationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUserRoleRelation_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelation">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationBymId">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationV">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetvUserRoleRelationObjList">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetvUserRoleRelationObjList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_GetFirstvUserRoleRelation_S">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_GetFirstvUserRoleRelation_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserRoleRelation_SerializeObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUserRoleRelation_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vUserRoleRelationService">
    <wsdl:port name="vUserRoleRelationServiceSoap" binding="tns:vUserRoleRelationServiceSoap">
      <soap:address location="http://localhost:9259/vUserRoleRelationService.asmx" />
    </wsdl:port>
    <wsdl:port name="vUserRoleRelationServiceSoap12" binding="tns:vUserRoleRelationServiceSoap12">
      <soap12:address location="http://localhost:9259/vUserRoleRelationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>