GeneralPlatform4WS_Sim/Service References/ServiceReferencevUserDownLoadLog/vUserDownLoadLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vUserDownLoadLog_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMinNum" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMaxNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserDownLoadLogEN" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserDownLoadLogEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserDownLoadLogId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjSiteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjSiteName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name=clsQxProjectsEN.con_QxPrjId type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DownLownDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LogInfo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpServer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUserPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserDownLoadLog_GetvUserDownLoadLogResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUserDownLoadLogEN" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdResult" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserDownLoadLogEN" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserDownLoadLog_GetvUserDownLoadLogVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUserDownLoadLogEN" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogObjList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetvUserDownLoadLogObjListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetvUserDownLoadLogObjListResult" type="tns:ArrayOfClsvUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvUserDownLoadLogEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserDownLoadLogEN" nillable="true" type="tns:clsvQxUserDownLoadLogEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUserDownLoadLog_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetFirstvUserDownLoadLog_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_GetFirstvUserDownLoadLog_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_GetFirstvUserDownLoadLog_SResult" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserDownLoadLog_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUserDownLoadLog_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUserDownLoadLogEN" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_SerializeObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUserDownLoadLog_SerializeObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUserDownLoadLog_SerializeObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vUserDownLoadLog_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLog" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogVSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogV" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogVSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogVResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogObjListSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogObjList" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetvUserDownLoadLogObjListSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetvUserDownLoadLogObjListResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetFirstvUserDownLoadLog_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetFirstvUserDownLoadLog_S" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_GetFirstvUserDownLoadLog_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_GetFirstvUserDownLoadLog_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_IsExist" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_SerializeObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_SerializeObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUserDownLoadLog_SerializeObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUserDownLoadLog_SerializeObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vUserDownLoadLogServiceSoap">
    <wsdl:operation name="vUserDownLoadLog_GetDataSet">
      <wsdl:input message="tns:vUserDownLoadLog_GetDataSetSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetDataSetByRange">
      <wsdl:input message="tns:vUserDownLoadLog_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLog">
      <wsdl:input message="tns:vUserDownLoadLog_GetvUserDownLoadLogSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetvUserDownLoadLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId">
      <wsdl:input message="tns:vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogV">
      <wsdl:input message="tns:vUserDownLoadLog_GetvUserDownLoadLogVSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetvUserDownLoadLogVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogObjList">
      <wsdl:input message="tns:vUserDownLoadLog_GetvUserDownLoadLogObjListSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetvUserDownLoadLogObjListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstID_S">
      <wsdl:input message="tns:vUserDownLoadLog_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstvUserDownLoadLog_S">
      <wsdl:input message="tns:vUserDownLoadLog_GetFirstvUserDownLoadLog_SSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_GetFirstvUserDownLoadLog_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExistRecord">
      <wsdl:input message="tns:vUserDownLoadLog_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExist">
      <wsdl:input message="tns:vUserDownLoadLog_IsExistSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjToXMLStr">
      <wsdl:input message="tns:vUserDownLoadLog_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjListToXMLStr">
      <wsdl:input message="tns:vUserDownLoadLog_SerializeObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:vUserDownLoadLog_SerializeObjListToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vUserDownLoadLogServiceSoap" type="tns:vUserDownLoadLogServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUserDownLoadLog_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLog">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogV">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogObjList">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogObjList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstvUserDownLoadLog_S">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetFirstvUserDownLoadLog_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExist">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUserDownLoadLog_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vUserDownLoadLogServiceSoap12" type="tns:vUserDownLoadLogServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUserDownLoadLog_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLog">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogV">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetvUserDownLoadLogObjList">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetvUserDownLoadLogObjList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_GetFirstvUserDownLoadLog_S">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_GetFirstvUserDownLoadLog_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUserDownLoadLog_SerializeObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUserDownLoadLog_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vUserDownLoadLogService">
    <wsdl:port name="vUserDownLoadLogServiceSoap" binding="tns:vUserDownLoadLogServiceSoap">
      <soap:address location="http://localhost:9259/vUserDownLoadLogService.asmx" />
    </wsdl:port>
    <wsdl:port name="vUserDownLoadLogServiceSoap12" binding="tns:vUserDownLoadLogServiceSoap12">
      <soap12:address location="http://localhost:9259/vUserDownLoadLogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>