GeneralPlatform4WS/Service References/ServiceReferencevQxUserGroupPotence/vQxUserGroupPotenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxUserGroupPotence_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetvQxUserGroupPotence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserGroupPotenceEN" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserGroupPotenceEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpMenuId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelaMid" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="SymbolForProgramme" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SymbolName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxUserGroupPotence_GetvQxUserGroupPotenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_GetvQxUserGroupPotenceResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserGroupPotenceEN" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetObjBymIdResult" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetvQxUserGroupPotenceV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserGroupPotenceEN" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetvQxUserGroupPotenceVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_GetvQxUserGroupPotenceVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserGroupPotenceEN" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetObjLstResult" type="tns:ArrayOfClsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxUserGroupPotenceEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserGroupPotenceEN" nillable="true" type="tns:clsvQxUserGroupPotenceEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetTopObjLstResult" type="tns:ArrayOfClsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_GetFirstObj_SResult" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserGroupPotence_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserGroupPotenceEN" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserGroupPotenceEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserGroupPotence_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserGroupPotence_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxUserGroupPotence_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetvQxUserGroupPotenceSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetvQxUserGroupPotence" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetvQxUserGroupPotenceSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetvQxUserGroupPotenceVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceV" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetvQxUserGroupPotenceVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserGroupPotence_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserGroupPotence_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxUserGroupPotenceServiceSoap">
    <wsdl:operation name="vQxUserGroupPotence_GetDataSet">
      <wsdl:input message="tns:vQxUserGroupPotence_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopDataSet">
      <wsdl:input message="tns:vQxUserGroupPotence_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetDataSetByRange">
      <wsdl:input message="tns:vQxUserGroupPotence_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotence">
      <wsdl:input message="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjBymId">
      <wsdl:input message="tns:vQxUserGroupPotence_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotenceV">
      <wsdl:input message="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceVSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetvQxUserGroupPotenceVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjLst">
      <wsdl:input message="tns:vQxUserGroupPotence_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopObjLst">
      <wsdl:input message="tns:vQxUserGroupPotence_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstID_S">
      <wsdl:input message="tns:vQxUserGroupPotence_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstObj_S">
      <wsdl:input message="tns:vQxUserGroupPotence_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_funGetRecCountByCond">
      <wsdl:input message="tns:vQxUserGroupPotence_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExistRecord">
      <wsdl:input message="tns:vQxUserGroupPotence_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExist">
      <wsdl:input message="tns:vQxUserGroupPotence_IsExistSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxUserGroupPotence_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserGroupPotence_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserGroupPotence_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserGroupPotence_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxUserGroupPotenceServiceSoap" type="tns:vQxUserGroupPotenceServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserGroupPotence_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotence">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetvQxUserGroupPotence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotenceV">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetvQxUserGroupPotenceV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxUserGroupPotenceServiceSoap12" type="tns:vQxUserGroupPotenceServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserGroupPotence_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotence">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetvQxUserGroupPotence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetvQxUserGroupPotenceV">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetvQxUserGroupPotenceV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserGroupPotence_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserGroupPotence_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxUserGroupPotenceService">
    <wsdl:port name="vQxUserGroupPotenceServiceSoap" binding="tns:vQxUserGroupPotenceServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserPotenceMan/vQxUserGroupPotenceService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxUserGroupPotenceServiceSoap12" binding="tns:vQxUserGroupPotenceServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserPotenceMan/vQxUserGroupPotenceService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>