GeneralPlatform4WS/Service References/ServiceReferenceQxDepartmentTypeEx/QxDepartmentTypeExService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxDepartmentType_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMinNum" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMaxNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetQxDepartmentType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxDepartmentTypeEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxDepartmentType_GetQxDepartmentTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_GetQxDepartmentTypeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetObjByDepartmentTypeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetObjByDepartmentTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetObjByDepartmentTypeIdResult" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetQxDepartmentTypeV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetQxDepartmentTypeVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_GetQxDepartmentTypeVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetObjLstResult" type="tns:ArrayOfClsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxDepartmentTypeEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxDepartmentTypeEN" nillable="true" type="tns:clsQxDepartmentTypeEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxDepartmentType_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetTopObjLstResult" type="tns:ArrayOfClsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetFirstObj_SResult" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxDepartmentTypeJSONObjByDepartmentTypeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxDepartmentTypeJSONObjByDepartmentTypeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQxDepartmentTypeJSONObjByDepartmentTypeIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstQxDepartmentTypeJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstQxDepartmentTypeJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstQxDepartmentTypeJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxDepartmentTypeJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxDepartmentTypeJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQxDepartmentTypeJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopQxDepartmentTypeJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopQxDepartmentTypeJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopQxDepartmentTypeJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxDepartmentType_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentTypeJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentTypeENObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentTypeJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentTypeENObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_DelRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelQxDepartmentTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrDepartmentTypeId" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelQxDepartmentTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_DelQxDepartmentTypesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelQxDepartmentTypesByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_DelQxDepartmentTypesByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentType_DelQxDepartmentTypesByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentTypeEN" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxDepartmentTypeEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentTypeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_SerializeObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeTopObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentType_SerializeTopObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentType_SerializeTopObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxDepartmentType_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetQxDepartmentTypeSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetQxDepartmentType" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetQxDepartmentTypeSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetQxDepartmentTypeResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetObjByDepartmentTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetObjByDepartmentTypeId" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetObjByDepartmentTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetObjByDepartmentTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetQxDepartmentTypeVSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetQxDepartmentTypeV" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetQxDepartmentTypeVSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetQxDepartmentTypeVResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetQxDepartmentTypeJSONObjByDepartmentTypeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetQxDepartmentTypeJSONObjByDepartmentTypeId" />
  </wsdl:message>
  <wsdl:message name="GetQxDepartmentTypeJSONObjByDepartmentTypeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetQxDepartmentTypeJSONObjByDepartmentTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstQxDepartmentTypeJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstQxDepartmentTypeJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstQxDepartmentTypeJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstQxDepartmentTypeJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetQxDepartmentTypeJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetQxDepartmentTypeJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetQxDepartmentTypeJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetQxDepartmentTypeJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopQxDepartmentTypeJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopQxDepartmentTypeJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopQxDepartmentTypeJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopQxDepartmentTypeJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelQxDepartmentTypesSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelQxDepartmentTypes" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelQxDepartmentTypesSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelQxDepartmentTypesResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelQxDepartmentTypesByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelQxDepartmentTypesByCond" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_DelQxDepartmentTypesByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_DelQxDepartmentTypesByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeTopObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeTopObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentType_SerializeTopObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentType_SerializeTopObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxDepartmentTypeExServiceSoap">
    <wsdl:operation name="QxDepartmentType_GetDataSet">
      <wsdl:input message="tns:QxDepartmentType_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopDataSet">
      <wsdl:input message="tns:QxDepartmentType_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetByRange">
      <wsdl:input message="tns:QxDepartmentType_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetV">
      <wsdl:input message="tns:QxDepartmentType_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentType">
      <wsdl:input message="tns:QxDepartmentType_GetQxDepartmentTypeSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetQxDepartmentTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjByDepartmentTypeId">
      <wsdl:input message="tns:QxDepartmentType_GetObjByDepartmentTypeIdSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetObjByDepartmentTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentTypeV">
      <wsdl:input message="tns:QxDepartmentType_GetQxDepartmentTypeVSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetQxDepartmentTypeVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjLst">
      <wsdl:input message="tns:QxDepartmentType_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopObjLst">
      <wsdl:input message="tns:QxDepartmentType_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstID_S">
      <wsdl:input message="tns:QxDepartmentType_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstObj_S">
      <wsdl:input message="tns:QxDepartmentType_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjByDepartmentTypeId">
      <wsdl:input message="tns:GetQxDepartmentTypeJSONObjByDepartmentTypeIdSoapIn" />
      <wsdl:output message="tns:GetQxDepartmentTypeJSONObjByDepartmentTypeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstQxDepartmentTypeJSONObj">
      <wsdl:input message="tns:GetFirstQxDepartmentTypeJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstQxDepartmentTypeJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjLst">
      <wsdl:input message="tns:GetQxDepartmentTypeJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetQxDepartmentTypeJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopQxDepartmentTypeJSONObjLst">
      <wsdl:input message="tns:GetTopQxDepartmentTypeJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopQxDepartmentTypeJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExistRecord">
      <wsdl:input message="tns:QxDepartmentType_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExist">
      <wsdl:input message="tns:QxDepartmentType_IsExistSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrId">
      <wsdl:input message="tns:QxDepartmentType_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxDepartmentType_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2">
      <wsdl:input message="tns:QxDepartmentType_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxDepartmentType_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxDepartmentType_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxDepartmentType_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2">
      <wsdl:input message="tns:QxDepartmentType_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxDepartmentType_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxDepartmentType_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxDepartmentType_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql_XML">
      <wsdl:input message="tns:QxDepartmentType_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelRecord">
      <wsdl:input message="tns:QxDepartmentType_DelRecordSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypes">
      <wsdl:input message="tns:QxDepartmentType_DelQxDepartmentTypesSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_DelQxDepartmentTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypesByCond">
      <wsdl:input message="tns:QxDepartmentType_DelQxDepartmentTypesByCondSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_DelQxDepartmentTypesByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxDepartmentType_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjListToXMLStr">
      <wsdl:input message="tns:QxDepartmentType_SerializeObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_SerializeObjListToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeTopObjListToXMLStr">
      <wsdl:input message="tns:QxDepartmentType_SerializeTopObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentType_SerializeTopObjListToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxDepartmentTypeExServiceSoap" type="tns:QxDepartmentTypeExServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxDepartmentType_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentType">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetQxDepartmentType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjByDepartmentTypeId">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetObjByDepartmentTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentTypeV">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetQxDepartmentTypeV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjByDepartmentTypeId">
      <soap:operation soapAction="http://tempuri.org/GetQxDepartmentTypeJSONObjByDepartmentTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstQxDepartmentTypeJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstQxDepartmentTypeJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetQxDepartmentTypeJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopQxDepartmentTypeJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopQxDepartmentTypeJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypes">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_DelQxDepartmentTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypesByCond">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_DelQxDepartmentTypesByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeTopObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeTopObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxDepartmentTypeExServiceSoap12" type="tns:QxDepartmentTypeExServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxDepartmentType_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentType">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetQxDepartmentType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjByDepartmentTypeId">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetObjByDepartmentTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetQxDepartmentTypeV">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetQxDepartmentTypeV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjByDepartmentTypeId">
      <soap12:operation soapAction="http://tempuri.org/GetQxDepartmentTypeJSONObjByDepartmentTypeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstQxDepartmentTypeJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstQxDepartmentTypeJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxDepartmentTypeJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetQxDepartmentTypeJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopQxDepartmentTypeJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopQxDepartmentTypeJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypes">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_DelQxDepartmentTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_DelQxDepartmentTypesByCond">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_DelQxDepartmentTypesByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentType_SerializeTopObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentType_SerializeTopObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxDepartmentTypeExService">
    <wsdl:port name="QxDepartmentTypeExServiceSoap" binding="tns:QxDepartmentTypeExServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/SysPara/QxDepartmentTypeExService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxDepartmentTypeExServiceSoap12" binding="tns:QxDepartmentTypeExServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/SysPara/QxDepartmentTypeExService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>