GeneralPlatform4WS/Service References/ServiceReferenceQxProjects/QxProjectsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxProjects_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetQxProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxProjectsEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjDomain" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefaultPrj" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjDataBaseId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxProjects_GetQxProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_GetQxProjectsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetObjByQxPrjId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetObjByQxPrjIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetObjByQxPrjIdResult" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetQxProjectsV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetQxProjectsVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_GetQxProjectsVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetObjLstResult" type="tns:ArrayOfClsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxProjectsEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxProjectsEN" nillable="true" type="tns:clsQxProjectsEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetTopObjLstResult" type="tns:ArrayOfClsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetFirstObj_SResult" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByQxPrjId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByQxPrjIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByQxPrjIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxProjects_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxProjectsJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxProjectsObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxProjectsJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxProjectsObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelQxProjectss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelQxProjectssResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_DelQxProjectssResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelQxProjectssByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_DelQxProjectssByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxProjects_DelQxProjectssByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxProjectsEN" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxProjectsEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxProjects_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxProjects_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxProjects_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetQxProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetQxProjects" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetQxProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetQxProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetObjByQxPrjIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetObjByQxPrjId" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetObjByQxPrjIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetObjByQxPrjIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetQxProjectsVSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetQxProjectsV" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetQxProjectsVSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetQxProjectsVResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByQxPrjIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByQxPrjId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByQxPrjIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByQxPrjIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxProjects_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxProjects_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxProjects_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxProjects_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxProjects_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxProjects_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelQxProjectssSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_DelQxProjectss" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelQxProjectssSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_DelQxProjectssResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelQxProjectssByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_DelQxProjectssByCond" />
  </wsdl:message>
  <wsdl:message name="QxProjects_DelQxProjectssByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_DelQxProjectssByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxProjects_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxProjects_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxProjectsServiceSoap">
    <wsdl:operation name="QxProjects_GetDataSet">
      <wsdl:input message="tns:QxProjects_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxProjects_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopDataSet">
      <wsdl:input message="tns:QxProjects_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxProjects_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetByRange">
      <wsdl:input message="tns:QxProjects_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxProjects_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetV">
      <wsdl:input message="tns:QxProjects_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxProjects_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjects">
      <wsdl:input message="tns:QxProjects_GetQxProjectsSoapIn" />
      <wsdl:output message="tns:QxProjects_GetQxProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjByQxPrjId">
      <wsdl:input message="tns:QxProjects_GetObjByQxPrjIdSoapIn" />
      <wsdl:output message="tns:QxProjects_GetObjByQxPrjIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjectsV">
      <wsdl:input message="tns:QxProjects_GetQxProjectsVSoapIn" />
      <wsdl:output message="tns:QxProjects_GetQxProjectsVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjLst">
      <wsdl:input message="tns:QxProjects_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxProjects_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopObjLst">
      <wsdl:input message="tns:QxProjects_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxProjects_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstID_S">
      <wsdl:input message="tns:QxProjects_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxProjects_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstObj_S">
      <wsdl:input message="tns:QxProjects_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxProjects_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByQxPrjId">
      <wsdl:input message="tns:GetJSONObjByQxPrjIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByQxPrjIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_funGetRecCountByCond">
      <wsdl:input message="tns:QxProjects_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxProjects_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExistRecord">
      <wsdl:input message="tns:QxProjects_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxProjects_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExist">
      <wsdl:input message="tns:QxProjects_IsExistSoapIn" />
      <wsdl:output message="tns:QxProjects_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrId">
      <wsdl:input message="tns:QxProjects_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxProjects_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxProjects_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxProjects_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2">
      <wsdl:input message="tns:QxProjects_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxProjects_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxProjects_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxProjects_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxProjects_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxProjects_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2">
      <wsdl:input message="tns:QxProjects_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxProjects_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxProjects_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxProjects_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxProjects_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxProjects_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql_XML">
      <wsdl:input message="tns:QxProjects_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxProjects_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelRecord">
      <wsdl:input message="tns:QxProjects_DelRecordSoapIn" />
      <wsdl:output message="tns:QxProjects_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectss">
      <wsdl:input message="tns:QxProjects_DelQxProjectssSoapIn" />
      <wsdl:output message="tns:QxProjects_DelQxProjectssSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectssByCond">
      <wsdl:input message="tns:QxProjects_DelQxProjectssByCondSoapIn" />
      <wsdl:output message="tns:QxProjects_DelQxProjectssByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxProjects_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxProjects_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxProjects_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxProjects_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxProjects_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxProjects_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxProjectsServiceSoap" type="tns:QxProjectsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxProjects_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjects">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetQxProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjByQxPrjId">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetObjByQxPrjId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjectsV">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetQxProjectsV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByQxPrjId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByQxPrjId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxProjects_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxProjects_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxProjects_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxProjects_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxProjects_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxProjects_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectss">
      <soap:operation soapAction="http://tempuri.org/QxProjects_DelQxProjectss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectssByCond">
      <soap:operation soapAction="http://tempuri.org/QxProjects_DelQxProjectssByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxProjects_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxProjects_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxProjects_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxProjectsServiceSoap12" type="tns:QxProjectsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxProjects_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjects">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetQxProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjByQxPrjId">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetObjByQxPrjId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetQxProjectsV">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetQxProjectsV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByQxPrjId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByQxPrjId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectss">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_DelQxProjectss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_DelQxProjectssByCond">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_DelQxProjectssByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxProjects_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxProjects_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxProjectsService">
    <wsdl:port name="QxProjectsServiceSoap" binding="tns:QxProjectsServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/PrjManage/QxProjectsService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxProjectsServiceSoap12" binding="tns:QxProjectsServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/PrjManage/QxProjectsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>