GeneralPlatform4WS/Service References/ServiceReferencevQxUserLoginName/vQxUserLoginNameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxUserLoginName_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetvQxUserLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserLoginNameEN" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserLoginNameEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserLoginName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentAbbrName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffitiveBeginDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffitiveEndDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StuTeacherId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxUserLoginName_GetvQxUserLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserLoginName_GetvQxUserLoginNameResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserLoginNameEN" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetObjByUserLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetObjByUserLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetObjByUserLoginNameResult" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetvQxUserLoginNameV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserLoginNameEN" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetvQxUserLoginNameVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserLoginName_GetvQxUserLoginNameVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserLoginNameEN" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetObjLstResult" type="tns:ArrayOfClsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxUserLoginNameEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserLoginNameEN" nillable="true" type="tns:clsvQxUserLoginNameEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetTopObjLstResult" type="tns:ArrayOfClsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_GetFirstObj_SResult" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByUserLoginNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserLoginName_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserLoginName_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserLoginName_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserLoginNameEN" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserLoginNameEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserLoginName_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserLoginName_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxUserLoginName_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetvQxUserLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetvQxUserLoginName" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetvQxUserLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetvQxUserLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetObjByUserLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetObjByUserLoginName" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetObjByUserLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetObjByUserLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetvQxUserLoginNameVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetvQxUserLoginNameV" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetvQxUserLoginNameVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetvQxUserLoginNameVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserLoginName" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserLoginName_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserLoginName_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxUserLoginNameServiceSoap">
    <wsdl:operation name="vQxUserLoginName_GetDataSet">
      <wsdl:input message="tns:vQxUserLoginName_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopDataSet">
      <wsdl:input message="tns:vQxUserLoginName_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetDataSetByRange">
      <wsdl:input message="tns:vQxUserLoginName_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginName">
      <wsdl:input message="tns:vQxUserLoginName_GetvQxUserLoginNameSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetvQxUserLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjByUserLoginName">
      <wsdl:input message="tns:vQxUserLoginName_GetObjByUserLoginNameSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetObjByUserLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginNameV">
      <wsdl:input message="tns:vQxUserLoginName_GetvQxUserLoginNameVSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetvQxUserLoginNameVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjLst">
      <wsdl:input message="tns:vQxUserLoginName_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopObjLst">
      <wsdl:input message="tns:vQxUserLoginName_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstID_S">
      <wsdl:input message="tns:vQxUserLoginName_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstObj_S">
      <wsdl:input message="tns:vQxUserLoginName_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserLoginName">
      <wsdl:input message="tns:GetJSONObjByUserLoginNameSoapIn" />
      <wsdl:output message="tns:GetJSONObjByUserLoginNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_funGetRecCountByCond">
      <wsdl:input message="tns:vQxUserLoginName_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExistRecord">
      <wsdl:input message="tns:vQxUserLoginName_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExist">
      <wsdl:input message="tns:vQxUserLoginName_IsExistSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxUserLoginName_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserLoginName_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserLoginName_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserLoginName_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxUserLoginNameServiceSoap" type="tns:vQxUserLoginNameServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserLoginName_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginName">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetvQxUserLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjByUserLoginName">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetObjByUserLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginNameV">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetvQxUserLoginNameV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserLoginName">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByUserLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxUserLoginNameServiceSoap12" type="tns:vQxUserLoginNameServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserLoginName_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginName">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetvQxUserLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjByUserLoginName">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetObjByUserLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetvQxUserLoginNameV">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetvQxUserLoginNameV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserLoginName">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByUserLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserLoginName_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserLoginName_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxUserLoginNameService">
    <wsdl:port name="vQxUserLoginNameServiceSoap" binding="tns:vQxUserLoginNameServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/vQxUserLoginNameService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxUserLoginNameServiceSoap12" binding="tns:vQxUserLoginNameServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/vQxUserLoginNameService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>