GeneralPlatform4WS/Service References/ServiceReferencevQxDepartmentInfo/vQxDepartmentInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxDepartmentInfo_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetvQxDepartmentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxDepartmentInfoEN" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxDepartmentInfoEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentAbbrName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpDepartmentId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InUse" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UserNum" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UpDepartmentName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxDepartmentInfo_GetvQxDepartmentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxDepartmentInfo_GetvQxDepartmentInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxDepartmentInfoEN" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetObjByDepartmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetObjByDepartmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetObjByDepartmentIdResult" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetvQxDepartmentInfoV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxDepartmentInfoEN" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetvQxDepartmentInfoVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxDepartmentInfo_GetvQxDepartmentInfoVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxDepartmentInfoEN" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetObjLstResult" type="tns:ArrayOfClsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxDepartmentInfoEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxDepartmentInfoEN" nillable="true" type="tns:clsvQxDepartmentInfoEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetTopObjLstResult" type="tns:ArrayOfClsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_GetFirstObj_SResult" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByDepartmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByDepartmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByDepartmentIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxDepartmentInfo_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxDepartmentInfo_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxDepartmentInfo_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxDepartmentInfoEN" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxDepartmentInfo_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxDepartmentInfo_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxDepartmentInfo_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetvQxDepartmentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetvQxDepartmentInfo" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetvQxDepartmentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetvQxDepartmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetObjByDepartmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetObjByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetObjByDepartmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetObjByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetvQxDepartmentInfoVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetvQxDepartmentInfoV" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetvQxDepartmentInfoVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetvQxDepartmentInfoVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByDepartmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByDepartmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxDepartmentInfo_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxDepartmentInfo_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxDepartmentInfoServiceSoap">
    <wsdl:operation name="vQxDepartmentInfo_GetDataSet">
      <wsdl:input message="tns:vQxDepartmentInfo_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopDataSet">
      <wsdl:input message="tns:vQxDepartmentInfo_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetDataSetByRange">
      <wsdl:input message="tns:vQxDepartmentInfo_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfo">
      <wsdl:input message="tns:vQxDepartmentInfo_GetvQxDepartmentInfoSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetvQxDepartmentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjByDepartmentId">
      <wsdl:input message="tns:vQxDepartmentInfo_GetObjByDepartmentIdSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetObjByDepartmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfoV">
      <wsdl:input message="tns:vQxDepartmentInfo_GetvQxDepartmentInfoVSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetvQxDepartmentInfoVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjLst">
      <wsdl:input message="tns:vQxDepartmentInfo_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopObjLst">
      <wsdl:input message="tns:vQxDepartmentInfo_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstID_S">
      <wsdl:input message="tns:vQxDepartmentInfo_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstObj_S">
      <wsdl:input message="tns:vQxDepartmentInfo_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <wsdl:input message="tns:GetJSONObjByDepartmentIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByDepartmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_funGetRecCountByCond">
      <wsdl:input message="tns:vQxDepartmentInfo_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExistRecord">
      <wsdl:input message="tns:vQxDepartmentInfo_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExist">
      <wsdl:input message="tns:vQxDepartmentInfo_IsExistSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxDepartmentInfo_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxDepartmentInfo_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxDepartmentInfo_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxDepartmentInfo_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxDepartmentInfoServiceSoap" type="tns:vQxDepartmentInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxDepartmentInfo_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfo">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetvQxDepartmentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfoV">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetvQxDepartmentInfoV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxDepartmentInfoServiceSoap12" type="tns:vQxDepartmentInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxDepartmentInfo_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfo">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetvQxDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetvQxDepartmentInfoV">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetvQxDepartmentInfoV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxDepartmentInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxDepartmentInfoService">
    <wsdl:port name="vQxDepartmentInfoServiceSoap" binding="tns:vQxDepartmentInfoServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/vQxDepartmentInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxDepartmentInfoServiceSoap12" binding="tns:vQxDepartmentInfoServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/vQxDepartmentInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>