GeneralPlatform4WS/Service References/ServiceReferencevQxUserCodePath/vQxUserCodePathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxUserCodePath_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetvQxUserCodePath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserCodePathEN" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserCodePathEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodePathBackup" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxCodeTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodeTypeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsTemplate" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxUserCodePath_GetvQxUserCodePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_GetvQxUserCodePathResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserCodePathEN" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetObjBymIdResult" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetvQxUserCodePathV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserCodePathEN" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetvQxUserCodePathVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_GetvQxUserCodePathVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserCodePathEN" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetObjLstResult" type="tns:ArrayOfClsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxUserCodePathEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserCodePathEN" nillable="true" type="tns:clsvQxUserCodePathEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetTopObjLstResult" type="tns:ArrayOfClsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_GetFirstObj_SResult" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserCodePath_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserCodePathEN" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserCodePath_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserCodePath_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxUserCodePath_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetvQxUserCodePathSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetvQxUserCodePath" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetvQxUserCodePathSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetvQxUserCodePathResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetvQxUserCodePathVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetvQxUserCodePathV" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetvQxUserCodePathVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetvQxUserCodePathVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserCodePath_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserCodePath_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxUserCodePathServiceSoap">
    <wsdl:operation name="vQxUserCodePath_GetDataSet">
      <wsdl:input message="tns:vQxUserCodePath_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopDataSet">
      <wsdl:input message="tns:vQxUserCodePath_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetDataSetByRange">
      <wsdl:input message="tns:vQxUserCodePath_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePath">
      <wsdl:input message="tns:vQxUserCodePath_GetvQxUserCodePathSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetvQxUserCodePathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjBymId">
      <wsdl:input message="tns:vQxUserCodePath_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePathV">
      <wsdl:input message="tns:vQxUserCodePath_GetvQxUserCodePathVSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetvQxUserCodePathVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjLst">
      <wsdl:input message="tns:vQxUserCodePath_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopObjLst">
      <wsdl:input message="tns:vQxUserCodePath_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstID_S">
      <wsdl:input message="tns:vQxUserCodePath_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstObj_S">
      <wsdl:input message="tns:vQxUserCodePath_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_funGetRecCountByCond">
      <wsdl:input message="tns:vQxUserCodePath_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExistRecord">
      <wsdl:input message="tns:vQxUserCodePath_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExist">
      <wsdl:input message="tns:vQxUserCodePath_IsExistSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxUserCodePath_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserCodePath_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserCodePath_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserCodePath_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxUserCodePathServiceSoap" type="tns:vQxUserCodePathServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserCodePath_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePath">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetvQxUserCodePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePathV">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetvQxUserCodePathV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxUserCodePathServiceSoap12" type="tns:vQxUserCodePathServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserCodePath_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePath">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetvQxUserCodePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetvQxUserCodePathV">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetvQxUserCodePathV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserCodePath_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserCodePath_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxUserCodePathService">
    <wsdl:port name="vQxUserCodePathServiceSoap" binding="tns:vQxUserCodePathServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/SystemSet/vQxUserCodePathService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxUserCodePathServiceSoap12" binding="tns:vQxUserCodePathServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/SystemSet/vQxUserCodePathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>