GeneralPlatform4WS/Service References/ServiceReferencevQxUserRoleRelation/vQxUserRoleRelationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxUserRoleRelation_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetvQxUserRoleRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserRoleRelationEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StuTeacherId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxUserRoleRelation_GetvQxUserRoleRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_GetvQxUserRoleRelationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetObjBymIdResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetvQxUserRoleRelationV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetvQxUserRoleRelationVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_GetvQxUserRoleRelationVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetObjLstResult" type="tns:ArrayOfClsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxUserRoleRelationEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserRoleRelationEN" nillable="true" type="tns:clsvQxUserRoleRelationEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetTopObjLstResult" type="tns:ArrayOfClsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_GetFirstObj_SResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoleRelation_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRoleRelationEN" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoleRelation_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoleRelation_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxUserRoleRelation_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetvQxUserRoleRelationSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetvQxUserRoleRelation" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetvQxUserRoleRelationSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetvQxUserRoleRelationResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetvQxUserRoleRelationVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetvQxUserRoleRelationV" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetvQxUserRoleRelationVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetvQxUserRoleRelationVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoleRelation_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoleRelation_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxUserRoleRelationServiceSoap">
    <wsdl:operation name="vQxUserRoleRelation_GetDataSet">
      <wsdl:input message="tns:vQxUserRoleRelation_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopDataSet">
      <wsdl:input message="tns:vQxUserRoleRelation_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetDataSetByRange">
      <wsdl:input message="tns:vQxUserRoleRelation_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelation">
      <wsdl:input message="tns:vQxUserRoleRelation_GetvQxUserRoleRelationSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetvQxUserRoleRelationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjBymId">
      <wsdl:input message="tns:vQxUserRoleRelation_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelationV">
      <wsdl:input message="tns:vQxUserRoleRelation_GetvQxUserRoleRelationVSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetvQxUserRoleRelationVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjLst">
      <wsdl:input message="tns:vQxUserRoleRelation_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopObjLst">
      <wsdl:input message="tns:vQxUserRoleRelation_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstID_S">
      <wsdl:input message="tns:vQxUserRoleRelation_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstObj_S">
      <wsdl:input message="tns:vQxUserRoleRelation_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_funGetRecCountByCond">
      <wsdl:input message="tns:vQxUserRoleRelation_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExistRecord">
      <wsdl:input message="tns:vQxUserRoleRelation_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExist">
      <wsdl:input message="tns:vQxUserRoleRelation_IsExistSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxUserRoleRelation_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserRoleRelation_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserRoleRelation_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoleRelation_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxUserRoleRelationServiceSoap" type="tns:vQxUserRoleRelationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserRoleRelation_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelation">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetvQxUserRoleRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelationV">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetvQxUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxUserRoleRelationServiceSoap12" type="tns:vQxUserRoleRelationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserRoleRelation_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelation">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetvQxUserRoleRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetvQxUserRoleRelationV">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetvQxUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoleRelation_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoleRelation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxUserRoleRelationService">
    <wsdl:port name="vQxUserRoleRelationServiceSoap" binding="tns:vQxUserRoleRelationServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/vQxUserRoleRelationService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxUserRoleRelationServiceSoap12" binding="tns:vQxUserRoleRelationServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/vQxUserRoleRelationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>