GeneralPlatform4WS_Sim/Service References/ServiceReferencevPrjSite4DownLoad/vPrjSite4DownLoadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vPrjSite4DownLoad_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMinNum" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMaxNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvPrjSite4DownLoadEN" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxPrjSite4DownLoadEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PrjSiteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjSiteName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name=clsQxProjectsEN.con_QxPrjId type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpServer" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FtpUserPassword" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vPrjSite4DownLoad_GetvPrjSite4DownLoadResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvPrjSite4DownLoadEN" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrjSiteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdResult" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvPrjSite4DownLoadEN" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vPrjSite4DownLoad_GetvPrjSite4DownLoadVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvPrjSite4DownLoadEN" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListResult" type="tns:ArrayOfClsvPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvPrjSite4DownLoadEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxPrjSite4DownLoadEN" nillable="true" type="tns:clsvQxPrjSite4DownLoadEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="vPrjSite4DownLoad_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SResult" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vPrjSite4DownLoad_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrjSiteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vPrjSite4DownLoad_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvPrjSite4DownLoadEN" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxPrjSite4DownLoadEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrjSiteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_SerializeObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vPrjSite4DownLoad_SerializeObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vPrjSite4DownLoad_SerializeObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vPrjSite4DownLoad_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoad" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadVSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadV" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadVSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadVResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_IsExist" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_SerializeObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_SerializeObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vPrjSite4DownLoad_SerializeObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vPrjSite4DownLoad_SerializeObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vPrjSite4DownLoadServiceSoap">
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSet">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetDataSetSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSetByRange">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoad">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadV">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadVSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetvPrjSite4DownLoadObjListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstID_S">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S">
      <wsdl:input message="tns:vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExistRecord">
      <wsdl:input message="tns:vPrjSite4DownLoad_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExist">
      <wsdl:input message="tns:vPrjSite4DownLoad_IsExistSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjToXMLStr">
      <wsdl:input message="tns:vPrjSite4DownLoad_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjListToXMLStr">
      <wsdl:input message="tns:vPrjSite4DownLoad_SerializeObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:vPrjSite4DownLoad_SerializeObjListToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vPrjSite4DownLoadServiceSoap" type="tns:vPrjSite4DownLoadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoad">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadV">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExist">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vPrjSite4DownLoadServiceSoap12" type="tns:vPrjSite4DownLoadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoad">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadByPrjSiteId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadV">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetvPrjSite4DownLoadObjList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_GetFirstvPrjSite4DownLoad_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vPrjSite4DownLoad_SerializeObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vPrjSite4DownLoad_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vPrjSite4DownLoadService">
    <wsdl:port name="vPrjSite4DownLoadServiceSoap" binding="tns:vPrjSite4DownLoadServiceSoap">
      <soap:address location="http://localhost:9259/vPrjSite4DownLoadService.asmx" />
    </wsdl:port>
    <wsdl:port name="vPrjSite4DownLoadServiceSoap12" binding="tns:vPrjSite4DownLoadServiceSoap12">
      <soap12:address location="http://localhost:9259/vPrjSite4DownLoadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>