GeneralPlatform4WS/Service References/ServiceReferencevQxPotenceSymbolForRole/vQxPotenceSymbolForRoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxPotenceSymbolForRole_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPotenceSymbolForRoleEN" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxPotenceSymbolForRoleEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RelaMid" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SymbolForProgramme" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PotenceTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SymbolName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPotenceSymbolForRoleEN" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetObjBymIdResult" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPotenceSymbolForRoleEN" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPotenceSymbolForRoleEN" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetObjLstResult" type="tns:ArrayOfClsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxPotenceSymbolForRoleEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxPotenceSymbolForRoleEN" nillable="true" type="tns:clsvQxPotenceSymbolForRoleEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetTopObjLstResult" type="tns:ArrayOfClsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_GetFirstObj_SResult" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPotenceSymbolForRole_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPotenceSymbolForRoleEN" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxPotenceSymbolForRoleEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxPotenceSymbolForRole_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxPotenceSymbolForRoleServiceSoap">
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSet">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopDataSet">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSetByRange">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjBymId">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjLst">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopObjLst">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstID_S">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstObj_S">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_funGetRecCountByCond">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExistRecord">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExist">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_IsExistSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxPotenceSymbolForRoleServiceSoap" type="tns:vQxPotenceSymbolForRoleServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxPotenceSymbolForRoleServiceSoap12" type="tns:vQxPotenceSymbolForRoleServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetvQxPotenceSymbolForRoleV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPotenceSymbolForRole_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxPotenceSymbolForRoleService">
    <wsdl:port name="vQxPotenceSymbolForRoleServiceSoap" binding="tns:vQxPotenceSymbolForRoleServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/PotenceMan/vQxPotenceSymbolForRoleService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxPotenceSymbolForRoleServiceSoap12" binding="tns:vQxPotenceSymbolForRoleServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/PotenceMan/vQxPotenceSymbolForRoleService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>