GeneralPlatform4WS/Service References/ServiceReferenceErrorInformation/ErrorInformationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ErrorInformation_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetErrorInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsErrorInformationEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ErrorID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PageName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FunctionName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ErrorInformation_GetErrorInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_GetErrorInformationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetObjByErrorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngErrorID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetObjByErrorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetObjByErrorIDResult" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetErrorInformationV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetErrorInformationVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_GetErrorInformationVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetObjLstResult" type="tns:ArrayOfClsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsErrorInformationEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsErrorInformationEN" nillable="true" type="tns:clsErrorInformationEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetTopObjLstResult" type="tns:ArrayOfClsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_GetFirstObj_SResult" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByErrorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngErrorID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByErrorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByErrorIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngErrorID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strErrorInformationJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strErrorInformationObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strErrorInformationJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strErrorInformationObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngErrorID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelErrorInformations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelErrorInformationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_DelErrorInformationsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelErrorInformationsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_DelErrorInformationsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ErrorInformation_DelErrorInformationsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objErrorInformationEN" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsErrorInformationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngErrorID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorInformation_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorInformation_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ErrorInformation_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetErrorInformationSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetErrorInformation" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetErrorInformationSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetErrorInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetObjByErrorIDSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetObjByErrorID" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetObjByErrorIDSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetObjByErrorIDResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetErrorInformationVSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetErrorInformationV" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetErrorInformationVSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetErrorInformationVResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByErrorIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByErrorID" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByErrorIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByErrorIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_IsExist" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelRecord" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelErrorInformationsSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelErrorInformations" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelErrorInformationsSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelErrorInformationsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelErrorInformationsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelErrorInformationsByCond" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_DelErrorInformationsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_DelErrorInformationsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="ErrorInformation_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorInformation_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="ErrorInformationServiceSoap">
    <wsdl:operation name="ErrorInformation_GetDataSet">
      <wsdl:input message="tns:ErrorInformation_GetDataSetSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopDataSet">
      <wsdl:input message="tns:ErrorInformation_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetByRange">
      <wsdl:input message="tns:ErrorInformation_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetV">
      <wsdl:input message="tns:ErrorInformation_GetDataSetVSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformation">
      <wsdl:input message="tns:ErrorInformation_GetErrorInformationSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetErrorInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjByErrorID">
      <wsdl:input message="tns:ErrorInformation_GetObjByErrorIDSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetObjByErrorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformationV">
      <wsdl:input message="tns:ErrorInformation_GetErrorInformationVSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetErrorInformationVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjLst">
      <wsdl:input message="tns:ErrorInformation_GetObjLstSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopObjLst">
      <wsdl:input message="tns:ErrorInformation_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstID_S">
      <wsdl:input message="tns:ErrorInformation_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstObj_S">
      <wsdl:input message="tns:ErrorInformation_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:ErrorInformation_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByErrorID">
      <wsdl:input message="tns:GetJSONObjByErrorIDSoapIn" />
      <wsdl:output message="tns:GetJSONObjByErrorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_funGetRecCountByCond">
      <wsdl:input message="tns:ErrorInformation_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:ErrorInformation_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExistRecord">
      <wsdl:input message="tns:ErrorInformation_IsExistRecordSoapIn" />
      <wsdl:output message="tns:ErrorInformation_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExist">
      <wsdl:input message="tns:ErrorInformation_IsExistSoapIn" />
      <wsdl:output message="tns:ErrorInformation_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2">
      <wsdl:input message="tns:ErrorInformation_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:ErrorInformation_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:ErrorInformation_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:ErrorInformation_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:ErrorInformation_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:ErrorInformation_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql_XML">
      <wsdl:input message="tns:ErrorInformation_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:ErrorInformation_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2">
      <wsdl:input message="tns:ErrorInformation_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:ErrorInformation_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2ByJSON">
      <wsdl:input message="tns:ErrorInformation_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:ErrorInformation_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySqlWithCondition">
      <wsdl:input message="tns:ErrorInformation_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:ErrorInformation_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql_XML">
      <wsdl:input message="tns:ErrorInformation_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:ErrorInformation_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelRecord">
      <wsdl:input message="tns:ErrorInformation_DelRecordSoapIn" />
      <wsdl:output message="tns:ErrorInformation_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformations">
      <wsdl:input message="tns:ErrorInformation_DelErrorInformationsSoapIn" />
      <wsdl:output message="tns:ErrorInformation_DelErrorInformationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformationsByCond">
      <wsdl:input message="tns:ErrorInformation_DelErrorInformationsByCondSoapIn" />
      <wsdl:output message="tns:ErrorInformation_DelErrorInformationsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjToXMLStr">
      <wsdl:input message="tns:ErrorInformation_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:ErrorInformation_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:ErrorInformation_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:ErrorInformation_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:ErrorInformation_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:ErrorInformation_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErrorInformationServiceSoap" type="tns:ErrorInformationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ErrorInformation_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformation">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetErrorInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjByErrorID">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetObjByErrorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformationV">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetErrorInformationV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByErrorID">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByErrorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExist">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelRecord">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformations">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_DelErrorInformations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformationsByCond">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_DelErrorInformationsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/ErrorInformation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErrorInformationServiceSoap12" type="tns:ErrorInformationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ErrorInformation_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformation">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetErrorInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjByErrorID">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetObjByErrorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetErrorInformationV">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetErrorInformationV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByErrorID">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByErrorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_IsExist">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformations">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_DelErrorInformations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_DelErrorInformationsByCond">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_DelErrorInformationsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorInformation_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/ErrorInformation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorInformationService">
    <wsdl:port name="ErrorInformationServiceSoap" binding="tns:ErrorInformationServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/LogManage/ErrorInformationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ErrorInformationServiceSoap12" binding="tns:ErrorInformationServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/LogManage/ErrorInformationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>