GeneralPlatform4WS/Service References/ServiceReferenceQxUsers/QxUsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUsers_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetQxUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUsersEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="id_College" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffitiveBeginDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffitiveEndDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StuTeacherId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArchive" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="openid" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSynch" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SynchDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="_ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUsers_GetQxUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_GetQxUsersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetObjByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetObjByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetObjByUserIdResult" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetQxUsersV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetQxUsersVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_GetQxUsersVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetObjLstResult" type="tns:ArrayOfClsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUsersEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUsersEN" nillable="true" type="tns:clsQxUsersEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetTopObjLstResult" type="tns:ArrayOfClsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetFirstObj_SResult" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxUsers_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUsersJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUsersObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUsersJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUsersObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelQxUserss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelQxUserssResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_DelQxUserssResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelQxUserssByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_DelQxUserssByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUsers_DelQxUserssByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUsersEN" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUsers_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUsers_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUsers_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetQxUsersSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetQxUsers" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetQxUsersSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetQxUsersResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetObjByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetObjByUserId" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetObjByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetObjByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetQxUsersVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetQxUsersV" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetQxUsersVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetQxUsersVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUsers_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUsers_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUsers_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxUsers_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUsers_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUsers_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelQxUserssSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_DelQxUserss" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelQxUserssSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_DelQxUserssResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelQxUserssByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_DelQxUserssByCond" />
  </wsdl:message>
  <wsdl:message name="QxUsers_DelQxUserssByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_DelQxUserssByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUsers_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUsers_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUsersServiceSoap">
    <wsdl:operation name="QxUsers_GetDataSet">
      <wsdl:input message="tns:QxUsers_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUsers_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopDataSet">
      <wsdl:input message="tns:QxUsers_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUsers_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetByRange">
      <wsdl:input message="tns:QxUsers_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUsers_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetV">
      <wsdl:input message="tns:QxUsers_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUsers_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsers">
      <wsdl:input message="tns:QxUsers_GetQxUsersSoapIn" />
      <wsdl:output message="tns:QxUsers_GetQxUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjByUserId">
      <wsdl:input message="tns:QxUsers_GetObjByUserIdSoapIn" />
      <wsdl:output message="tns:QxUsers_GetObjByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsersV">
      <wsdl:input message="tns:QxUsers_GetQxUsersVSoapIn" />
      <wsdl:output message="tns:QxUsers_GetQxUsersVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjLst">
      <wsdl:input message="tns:QxUsers_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUsers_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopObjLst">
      <wsdl:input message="tns:QxUsers_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUsers_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstID_S">
      <wsdl:input message="tns:QxUsers_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUsers_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstObj_S">
      <wsdl:input message="tns:QxUsers_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUsers_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserId">
      <wsdl:input message="tns:GetJSONObjByUserIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_funGetRecCountByCond">
      <wsdl:input message="tns:QxUsers_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUsers_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExistRecord">
      <wsdl:input message="tns:QxUsers_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUsers_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExist">
      <wsdl:input message="tns:QxUsers_IsExistSoapIn" />
      <wsdl:output message="tns:QxUsers_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrId">
      <wsdl:input message="tns:QxUsers_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxUsers_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxUsers_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxUsers_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUsers_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUsers_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUsers_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUsers_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUsers_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUsers_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2">
      <wsdl:input message="tns:QxUsers_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUsers_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUsers_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUsers_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUsers_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUsers_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql_XML">
      <wsdl:input message="tns:QxUsers_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUsers_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelRecord">
      <wsdl:input message="tns:QxUsers_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUsers_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserss">
      <wsdl:input message="tns:QxUsers_DelQxUserssSoapIn" />
      <wsdl:output message="tns:QxUsers_DelQxUserssSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserssByCond">
      <wsdl:input message="tns:QxUsers_DelQxUserssByCondSoapIn" />
      <wsdl:output message="tns:QxUsers_DelQxUserssByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUsers_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUsers_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUsers_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUsers_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUsers_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUsers_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUsersServiceSoap" type="tns:QxUsersServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUsers_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsers">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetQxUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjByUserId">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetObjByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsersV">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetQxUsersV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUsers_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUsers_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUsers_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxUsers_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUsers_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUsers_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserss">
      <soap:operation soapAction="http://tempuri.org/QxUsers_DelQxUserss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserssByCond">
      <soap:operation soapAction="http://tempuri.org/QxUsers_DelQxUserssByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUsers_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUsers_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUsers_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUsersServiceSoap12" type="tns:QxUsersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUsers_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsers">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetQxUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjByUserId">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetObjByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetQxUsersV">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetQxUsersV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserss">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_DelQxUserss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_DelQxUserssByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_DelQxUserssByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUsers_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUsers_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUsersService">
    <wsdl:port name="QxUsersServiceSoap" binding="tns:QxUsersServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/QxUsersService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUsersServiceSoap12" binding="tns:QxUsersServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/QxUsersService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>