GeneralPlatform4WS/Service References/ServiceReferenceQxUserCodePath/QxUserCodePathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserCodePath_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetQxUserCodePath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserCodePathEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxCodeTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodePathBackup" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsTemplate" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGeneReport" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserCodePath_GetQxUserCodePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_GetQxUserCodePathResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetObjBymIdResult" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetQxUserCodePathV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetQxUserCodePathVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_GetQxUserCodePathVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetObjLstResult" type="tns:ArrayOfClsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserCodePathEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserCodePathEN" nillable="true" type="tns:clsQxUserCodePathEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetTopObjLstResult" type="tns:ArrayOfClsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_GetFirstObj_SResult" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserCodePathJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserCodePathObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserCodePathJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserCodePathObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelQxUserCodePaths">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelQxUserCodePathsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_DelQxUserCodePathsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelQxUserCodePathsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_DelQxUserCodePathsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserCodePath_DelQxUserCodePathsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserCodePathEN" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserCodePathEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserCodePath_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserCodePath_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserCodePath_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetQxUserCodePathSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetQxUserCodePath" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetQxUserCodePathSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetQxUserCodePathResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetQxUserCodePathVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetQxUserCodePathV" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetQxUserCodePathVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetQxUserCodePathVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelQxUserCodePathsSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelQxUserCodePaths" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelQxUserCodePathsSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelQxUserCodePathsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelQxUserCodePathsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelQxUserCodePathsByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_DelQxUserCodePathsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_DelQxUserCodePathsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserCodePath_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserCodePath_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserCodePathServiceSoap">
    <wsdl:operation name="QxUserCodePath_GetDataSet">
      <wsdl:input message="tns:QxUserCodePath_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopDataSet">
      <wsdl:input message="tns:QxUserCodePath_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetByRange">
      <wsdl:input message="tns:QxUserCodePath_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetV">
      <wsdl:input message="tns:QxUserCodePath_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePath">
      <wsdl:input message="tns:QxUserCodePath_GetQxUserCodePathSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetQxUserCodePathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjBymId">
      <wsdl:input message="tns:QxUserCodePath_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePathV">
      <wsdl:input message="tns:QxUserCodePath_GetQxUserCodePathVSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetQxUserCodePathVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjLst">
      <wsdl:input message="tns:QxUserCodePath_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopObjLst">
      <wsdl:input message="tns:QxUserCodePath_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstID_S">
      <wsdl:input message="tns:QxUserCodePath_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstObj_S">
      <wsdl:input message="tns:QxUserCodePath_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserCodePath_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExistRecord">
      <wsdl:input message="tns:QxUserCodePath_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExist">
      <wsdl:input message="tns:QxUserCodePath_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserCodePath_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserCodePath_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserCodePath_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxUserCodePath_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxUserCodePath_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserCodePath_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2">
      <wsdl:input message="tns:QxUserCodePath_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserCodePath_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserCodePath_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserCodePath_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserCodePath_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelRecord">
      <wsdl:input message="tns:QxUserCodePath_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePaths">
      <wsdl:input message="tns:QxUserCodePath_DelQxUserCodePathsSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_DelQxUserCodePathsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePathsByCond">
      <wsdl:input message="tns:QxUserCodePath_DelQxUserCodePathsByCondSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_DelQxUserCodePathsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserCodePath_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserCodePath_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserCodePath_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserCodePath_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserCodePathServiceSoap" type="tns:QxUserCodePathServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserCodePath_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePath">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetQxUserCodePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePathV">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetQxUserCodePathV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePaths">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_DelQxUserCodePaths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePathsByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_DelQxUserCodePathsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserCodePathServiceSoap12" type="tns:QxUserCodePathServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserCodePath_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePath">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetQxUserCodePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetQxUserCodePathV">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetQxUserCodePathV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePaths">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_DelQxUserCodePaths" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_DelQxUserCodePathsByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_DelQxUserCodePathsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserCodePath_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserCodePath_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserCodePathService">
    <wsdl:port name="QxUserCodePathServiceSoap" binding="tns:QxUserCodePathServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/SystemSet/QxUserCodePathService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserCodePathServiceSoap12" binding="tns:QxUserCodePathServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/SystemSet/QxUserCodePathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>