GeneralPlatform4WS/Service References/ServiceReferenceQxUserGroupRelation/QxUserGroupRelationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserGroupRelation_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetQxUserGroupRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserGroupRelationEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ManageId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ManageTypeId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserGroupRelation_GetQxUserGroupRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_GetQxUserGroupRelationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetObjBymIdResult" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetQxUserGroupRelationV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetQxUserGroupRelationVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_GetQxUserGroupRelationVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetObjLstResult" type="tns:ArrayOfClsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserGroupRelationEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserGroupRelationEN" nillable="true" type="tns:clsQxUserGroupRelationEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetTopObjLstResult" type="tns:ArrayOfClsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_GetFirstObj_SResult" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserGroupRelationJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserGroupRelationObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserGroupRelationJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserGroupRelationObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelQxUserGroupRelations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelQxUserGroupRelationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_DelQxUserGroupRelationsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelQxUserGroupRelationsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_DelQxUserGroupRelationsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserGroupRelation_DelQxUserGroupRelationsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserGroupRelationEN" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserGroupRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserGroupRelation_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserGroupRelation_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserGroupRelation_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetQxUserGroupRelationSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetQxUserGroupRelation" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetQxUserGroupRelationSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetQxUserGroupRelationResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetQxUserGroupRelationVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetQxUserGroupRelationV" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetQxUserGroupRelationVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetQxUserGroupRelationVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelQxUserGroupRelationsSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelQxUserGroupRelations" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelQxUserGroupRelationsSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelQxUserGroupRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelQxUserGroupRelationsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelQxUserGroupRelationsByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_DelQxUserGroupRelationsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_DelQxUserGroupRelationsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserGroupRelation_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserGroupRelation_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserGroupRelationServiceSoap">
    <wsdl:operation name="QxUserGroupRelation_GetDataSet">
      <wsdl:input message="tns:QxUserGroupRelation_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopDataSet">
      <wsdl:input message="tns:QxUserGroupRelation_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetByRange">
      <wsdl:input message="tns:QxUserGroupRelation_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetV">
      <wsdl:input message="tns:QxUserGroupRelation_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelation">
      <wsdl:input message="tns:QxUserGroupRelation_GetQxUserGroupRelationSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetQxUserGroupRelationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjBymId">
      <wsdl:input message="tns:QxUserGroupRelation_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelationV">
      <wsdl:input message="tns:QxUserGroupRelation_GetQxUserGroupRelationVSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetQxUserGroupRelationVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjLst">
      <wsdl:input message="tns:QxUserGroupRelation_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopObjLst">
      <wsdl:input message="tns:QxUserGroupRelation_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstID_S">
      <wsdl:input message="tns:QxUserGroupRelation_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstObj_S">
      <wsdl:input message="tns:QxUserGroupRelation_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserGroupRelation_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExistRecord">
      <wsdl:input message="tns:QxUserGroupRelation_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExist">
      <wsdl:input message="tns:QxUserGroupRelation_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserGroupRelation_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserGroupRelation_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxUserGroupRelation_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserGroupRelation_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2">
      <wsdl:input message="tns:QxUserGroupRelation_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserGroupRelation_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserGroupRelation_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserGroupRelation_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelRecord">
      <wsdl:input message="tns:QxUserGroupRelation_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelations">
      <wsdl:input message="tns:QxUserGroupRelation_DelQxUserGroupRelationsSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_DelQxUserGroupRelationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelationsByCond">
      <wsdl:input message="tns:QxUserGroupRelation_DelQxUserGroupRelationsByCondSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_DelQxUserGroupRelationsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserGroupRelation_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserGroupRelation_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserGroupRelation_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserGroupRelation_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserGroupRelationServiceSoap" type="tns:QxUserGroupRelationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserGroupRelation_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelation">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetQxUserGroupRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelationV">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetQxUserGroupRelationV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelations">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelQxUserGroupRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelationsByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelQxUserGroupRelationsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserGroupRelationServiceSoap12" type="tns:QxUserGroupRelationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserGroupRelation_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelation">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetQxUserGroupRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetQxUserGroupRelationV">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetQxUserGroupRelationV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelations">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelQxUserGroupRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_DelQxUserGroupRelationsByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_DelQxUserGroupRelationsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserGroupRelation_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserGroupRelation_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserGroupRelationService">
    <wsdl:port name="QxUserGroupRelationServiceSoap" binding="tns:QxUserGroupRelationServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/QxUserGroupRelationService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserGroupRelationServiceSoap12" binding="tns:QxUserGroupRelationServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/QxUserGroupRelationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>