GeneralPlatform4WS_Sim/Service References/ServiceReferencevUsers/vUsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vUsers_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMinNum" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lngMaxNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUsersEN" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUsersEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpDepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentAbbrName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpDepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SubjectTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserStateName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IdentityID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StuIdTeacherId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="id_GradeBase" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GradeBaseID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GradeBaseName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EnterSchoolDate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOffed" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="BeginYearMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndYearMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Card_State" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLeaved" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUsers_GetvUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUsers_GetvUsersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUsersEN" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetvUsersByUserIdResult" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUsersEN" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUsers_GetvUsersVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvUsersEN" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersObjList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetvUsersObjListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetvUsersObjListResult" type="tns:ArrayOfClsvUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvUsersEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUsersEN" nillable="true" type="tns:clsvQxUsersEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="vUsers_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetFirstvUsers_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCondition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_GetFirstvUsers_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_GetFirstvUsers_SResult" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUsers_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vUsers_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvUsersEN" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUsersEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_SerializeObjListToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vUsers_SerializeObjListToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vUsers_SerializeObjListToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vUsers_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsers" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersByUserId" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersVSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersV" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersVSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersVResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersObjListSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersObjList" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetvUsersObjListSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetvUsersObjListResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetFirstvUsers_SSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_GetFirstvUsers_S" />
  </wsdl:message>
  <wsdl:message name="vUsers_GetFirstvUsers_SSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_GetFirstvUsers_SResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vUsers_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_IsExist" />
  </wsdl:message>
  <wsdl:message name="vUsers_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUsers_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vUsers_SerializeObjListToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vUsers_SerializeObjListToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vUsers_SerializeObjListToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vUsers_SerializeObjListToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vUsersServiceSoap">
    <wsdl:operation name="vUsers_GetDataSet">
      <wsdl:input message="tns:vUsers_GetDataSetSoapIn" />
      <wsdl:output message="tns:vUsers_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetDataSetByRange">
      <wsdl:input message="tns:vUsers_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vUsers_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsers">
      <wsdl:input message="tns:vUsers_GetvUsersSoapIn" />
      <wsdl:output message="tns:vUsers_GetvUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersByUserId">
      <wsdl:input message="tns:vUsers_GetvUsersByUserIdSoapIn" />
      <wsdl:output message="tns:vUsers_GetvUsersByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersV">
      <wsdl:input message="tns:vUsers_GetvUsersVSoapIn" />
      <wsdl:output message="tns:vUsers_GetvUsersVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersObjList">
      <wsdl:input message="tns:vUsers_GetvUsersObjListSoapIn" />
      <wsdl:output message="tns:vUsers_GetvUsersObjListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstID_S">
      <wsdl:input message="tns:vUsers_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vUsers_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstvUsers_S">
      <wsdl:input message="tns:vUsers_GetFirstvUsers_SSoapIn" />
      <wsdl:output message="tns:vUsers_GetFirstvUsers_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExistRecord">
      <wsdl:input message="tns:vUsers_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vUsers_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExist">
      <wsdl:input message="tns:vUsers_IsExistSoapIn" />
      <wsdl:output message="tns:vUsers_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjToXMLStr">
      <wsdl:input message="tns:vUsers_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vUsers_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjListToXMLStr">
      <wsdl:input message="tns:vUsers_SerializeObjListToXMLStrSoapIn" />
      <wsdl:output message="tns:vUsers_SerializeObjListToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vUsersServiceSoap" type="tns:vUsersServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUsers_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsers">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetvUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersByUserId">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetvUsersByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersV">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetvUsersV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersObjList">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetvUsersObjList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstvUsers_S">
      <soap:operation soapAction="http://tempuri.org/vUsers_GetFirstvUsers_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vUsers_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExist">
      <soap:operation soapAction="http://tempuri.org/vUsers_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUsers_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjListToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vUsers_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vUsersServiceSoap12" type="tns:vUsersServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vUsers_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsers">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetvUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersByUserId">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetvUsersByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersV">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetvUsersV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetvUsersObjList">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetvUsersObjList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_GetFirstvUsers_S">
      <soap12:operation soapAction="http://tempuri.org/vUsers_GetFirstvUsers_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vUsers_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vUsers_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUsers_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vUsers_SerializeObjListToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vUsers_SerializeObjListToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vUsersService">
    <wsdl:port name="vUsersServiceSoap" binding="tns:vUsersServiceSoap">
      <soap:address location="http://localhost:9259/vUsersService.asmx" />
    </wsdl:port>
    <wsdl:port name="vUsersServiceSoap12" binding="tns:vUsersServiceSoap12">
      <soap12:address location="http://localhost:9259/vUsersService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>