GeneralPlatform4WS/Service References/ServiceReferencevQxPrjFileRela/vQxPrjFileRelaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxPrjFileRela_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetvQxPrjFileRela">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjFileRelaEN" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxPrjFileRelaEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNeedDownLoad" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxPrjFileRela_GetvQxPrjFileRelaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_GetvQxPrjFileRelaResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjFileRelaEN" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetObjBymIdResult" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetvQxPrjFileRelaV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjFileRelaEN" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetvQxPrjFileRelaVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_GetvQxPrjFileRelaVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjFileRelaEN" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetObjLstResult" type="tns:ArrayOfClsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxPrjFileRelaEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxPrjFileRelaEN" nillable="true" type="tns:clsvQxPrjFileRelaEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetTopObjLstResult" type="tns:ArrayOfClsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_GetFirstObj_SResult" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjFileRela_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjFileRelaEN" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjFileRela_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjFileRela_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxPrjFileRela_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetvQxPrjFileRelaSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetvQxPrjFileRela" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetvQxPrjFileRelaSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetvQxPrjFileRelaResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetvQxPrjFileRelaVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetvQxPrjFileRelaV" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetvQxPrjFileRelaVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetvQxPrjFileRelaVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjFileRela_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjFileRela_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxPrjFileRelaServiceSoap">
    <wsdl:operation name="vQxPrjFileRela_GetDataSet">
      <wsdl:input message="tns:vQxPrjFileRela_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopDataSet">
      <wsdl:input message="tns:vQxPrjFileRela_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetDataSetByRange">
      <wsdl:input message="tns:vQxPrjFileRela_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRela">
      <wsdl:input message="tns:vQxPrjFileRela_GetvQxPrjFileRelaSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetvQxPrjFileRelaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjBymId">
      <wsdl:input message="tns:vQxPrjFileRela_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRelaV">
      <wsdl:input message="tns:vQxPrjFileRela_GetvQxPrjFileRelaVSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetvQxPrjFileRelaVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjLst">
      <wsdl:input message="tns:vQxPrjFileRela_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopObjLst">
      <wsdl:input message="tns:vQxPrjFileRela_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstID_S">
      <wsdl:input message="tns:vQxPrjFileRela_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstObj_S">
      <wsdl:input message="tns:vQxPrjFileRela_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_funGetRecCountByCond">
      <wsdl:input message="tns:vQxPrjFileRela_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExistRecord">
      <wsdl:input message="tns:vQxPrjFileRela_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExist">
      <wsdl:input message="tns:vQxPrjFileRela_IsExistSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxPrjFileRela_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjFileRela_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjFileRela_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjFileRela_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxPrjFileRelaServiceSoap" type="tns:vQxPrjFileRelaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjFileRela_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRela">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetvQxPrjFileRela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRelaV">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetvQxPrjFileRelaV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxPrjFileRelaServiceSoap12" type="tns:vQxPrjFileRelaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjFileRela_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRela">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetvQxPrjFileRela" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetvQxPrjFileRelaV">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetvQxPrjFileRelaV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjFileRela_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjFileRela_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxPrjFileRelaService">
    <wsdl:port name="vQxPrjFileRelaServiceSoap" binding="tns:vQxPrjFileRelaServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/vQxPrjFileRelaService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxPrjFileRelaServiceSoap12" binding="tns:vQxPrjFileRelaServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/vQxPrjFileRelaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>