GeneralPlatform4WS_Sim/Service References/ServiceReferenceUserRoleRelation/UserRoleRelationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserRoleRelation_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRoleRelation_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRoleRelation_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetQxUserRoleRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserRoleRelationEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name=clsQxProjectsEN.con_QxPrjId type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserRoleRelation_GetQxUserRoleRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_GetQxUserRoleRelationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetQxUserRoleRelationV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_GetQxUserRoleRelationVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_GetQxUserRoleRelationVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_IsExistRecordByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_IsExistRecordByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_IsExistRecordByCondResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_DelRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelQxUserRoleRelations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arrStdId" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelQxUserRoleRelationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_DelQxUserRoleRelationsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelQxUserRoleRelationsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRoleRelation_DelQxUserRoleRelationsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserRoleRelation_DelQxUserRoleRelationsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserRoleRelation" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserRoleRelationEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserRoleRelation_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetQxUserRoleRelationSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetQxUserRoleRelation" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetQxUserRoleRelationSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetQxUserRoleRelationResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetQxUserRoleRelationVSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetQxUserRoleRelationV" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_GetQxUserRoleRelationVSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_GetQxUserRoleRelationVResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_IsExistRecordByCondSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_IsExistRecordByCond" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_IsExistRecordByCondSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_IsExistRecordByCondResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_IsExist" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelRecord" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelQxUserRoleRelationsSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelQxUserRoleRelations" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelQxUserRoleRelationsSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelQxUserRoleRelationsResponse" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelQxUserRoleRelationsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelQxUserRoleRelationsByCond" />
  </wsdl:message>
  <wsdl:message name="UserRoleRelation_DelQxUserRoleRelationsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:UserRoleRelation_DelQxUserRoleRelationsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:portType name="UserRoleRelationServiceSoap">
    <wsdl:operation name="UserRoleRelation_GetDataSet">
      <wsdl:input message="tns:UserRoleRelation_GetDataSetSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetDataSetV">
      <wsdl:input message="tns:UserRoleRelation_GetDataSetVSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelation">
      <wsdl:input message="tns:UserRoleRelation_GetQxUserRoleRelationSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_GetQxUserRoleRelationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelationV">
      <wsdl:input message="tns:UserRoleRelation_GetQxUserRoleRelationVSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_GetQxUserRoleRelationVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExistRecordByCond">
      <wsdl:input message="tns:UserRoleRelation_IsExistRecordByCondSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_IsExistRecordByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExist">
      <wsdl:input message="tns:UserRoleRelation_IsExistSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_AddNewRecordBySql2">
      <wsdl:input message="tns:UserRoleRelation_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:UserRoleRelation_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_UpdateBySql2">
      <wsdl:input message="tns:UserRoleRelation_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:UserRoleRelation_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelRecord">
      <wsdl:input message="tns:UserRoleRelation_DelRecordSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelations">
      <wsdl:input message="tns:UserRoleRelation_DelQxUserRoleRelationsSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_DelQxUserRoleRelationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelationsByCond">
      <wsdl:input message="tns:UserRoleRelation_DelQxUserRoleRelationsByCondSoapIn" />
      <wsdl:output message="tns:UserRoleRelation_DelQxUserRoleRelationsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserRoleRelationServiceSoap" type="tns:UserRoleRelationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserRoleRelation_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelation">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_GetQxUserRoleRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelationV">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_GetQxUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExistRecordByCond">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_IsExistRecordByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExist">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelRecord">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelations">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_DelQxUserRoleRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelationsByCond">
      <soap:operation soapAction="http://tempuri.org/UserRoleRelation_DelQxUserRoleRelationsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserRoleRelationServiceSoap12" type="tns:UserRoleRelationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserRoleRelation_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelation">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_GetQxUserRoleRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_GetQxUserRoleRelationV">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_GetQxUserRoleRelationV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExistRecordByCond">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_IsExistRecordByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_IsExist">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelations">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_DelQxUserRoleRelations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRoleRelation_DelQxUserRoleRelationsByCond">
      <soap12:operation soapAction="http://tempuri.org/UserRoleRelation_DelQxUserRoleRelationsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserRoleRelationService">
    <wsdl:port name="UserRoleRelationServiceSoap" binding="tns:UserRoleRelationServiceSoap">
      <soap:address location="http://localhost:9259/UserRoleRelationService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserRoleRelationServiceSoap12" binding="tns:UserRoleRelationServiceSoap12">
      <soap12:address location="http://localhost:9259/UserRoleRelationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>