GeneralPlatform4WS/Service References/ServiceReferencevQxViewInfo/vQxViewInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxViewInfo_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetvQxViewInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewInfoEN" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxViewInfoEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ViewId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewCnName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DefaMenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewTypeCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewFunction" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ViewDetail" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModuleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ModuleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxViewInfo_GetvQxViewInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewInfo_GetvQxViewInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewInfoEN" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetObjByViewId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strViewId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetObjByViewIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetObjByViewIdResult" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetvQxViewInfoV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewInfoEN" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetvQxViewInfoVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewInfo_GetvQxViewInfoVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewInfoEN" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetObjLstResult" type="tns:ArrayOfClsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxViewInfoEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxViewInfoEN" nillable="true" type="tns:clsvQxViewInfoEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetTopObjLstResult" type="tns:ArrayOfClsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_GetFirstObj_SResult" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByViewId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strViewId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByViewIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByViewIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewInfo_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewInfo_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strViewId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxViewInfo_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxViewInfoEN" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxViewInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strViewId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxViewInfo_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxViewInfo_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxViewInfo_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetvQxViewInfoSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetvQxViewInfo" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetvQxViewInfoSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetvQxViewInfoResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetObjByViewIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetObjByViewId" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetObjByViewIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetObjByViewIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetvQxViewInfoVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetvQxViewInfoV" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetvQxViewInfoVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetvQxViewInfoVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByViewIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByViewId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByViewIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByViewIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxViewInfo_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxViewInfo_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxViewInfoServiceSoap">
    <wsdl:operation name="vQxViewInfo_GetDataSet">
      <wsdl:input message="tns:vQxViewInfo_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopDataSet">
      <wsdl:input message="tns:vQxViewInfo_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetDataSetByRange">
      <wsdl:input message="tns:vQxViewInfo_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfo">
      <wsdl:input message="tns:vQxViewInfo_GetvQxViewInfoSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetvQxViewInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjByViewId">
      <wsdl:input message="tns:vQxViewInfo_GetObjByViewIdSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetObjByViewIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfoV">
      <wsdl:input message="tns:vQxViewInfo_GetvQxViewInfoVSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetvQxViewInfoVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjLst">
      <wsdl:input message="tns:vQxViewInfo_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopObjLst">
      <wsdl:input message="tns:vQxViewInfo_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstID_S">
      <wsdl:input message="tns:vQxViewInfo_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstObj_S">
      <wsdl:input message="tns:vQxViewInfo_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByViewId">
      <wsdl:input message="tns:GetJSONObjByViewIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByViewIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_funGetRecCountByCond">
      <wsdl:input message="tns:vQxViewInfo_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExistRecord">
      <wsdl:input message="tns:vQxViewInfo_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExist">
      <wsdl:input message="tns:vQxViewInfo_IsExistSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxViewInfo_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxViewInfo_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxViewInfo_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxViewInfo_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxViewInfoServiceSoap" type="tns:vQxViewInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxViewInfo_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfo">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetvQxViewInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjByViewId">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetObjByViewId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfoV">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetvQxViewInfoV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByViewId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByViewId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxViewInfoServiceSoap12" type="tns:vQxViewInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxViewInfo_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfo">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetvQxViewInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjByViewId">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetObjByViewId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetvQxViewInfoV">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetvQxViewInfoV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByViewId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByViewId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxViewInfo_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxViewInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxViewInfoService">
    <wsdl:port name="vQxViewInfoServiceSoap" binding="tns:vQxViewInfoServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/InterfaceMan/vQxViewInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxViewInfoServiceSoap12" binding="tns:vQxViewInfoServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/InterfaceMan/vQxViewInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>