GeneralPlatform4WS/Service References/ServiceReferenceQxDepartmentInfo/QxDepartmentInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxDepartmentInfo_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetQxDepartmentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxDepartmentInfoEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentAbbrName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentTypeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpDepartmentId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="InUse" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxDepartmentInfo_GetQxDepartmentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_GetQxDepartmentInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetObjByDepartmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetObjByDepartmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetObjByDepartmentIdResult" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetQxDepartmentInfoV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetQxDepartmentInfoVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_GetQxDepartmentInfoVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetObjLstResult" type="tns:ArrayOfClsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxDepartmentInfoEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxDepartmentInfoEN" nillable="true" type="tns:clsQxDepartmentInfoEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetTopObjLstResult" type="tns:ArrayOfClsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetFirstObj_SResult" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByDepartmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByDepartmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByDepartmentIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxDepartmentInfo_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentInfoJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentInfoObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentInfoJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxDepartmentInfoObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelQxDepartmentInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelQxDepartmentInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_DelQxDepartmentInfosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelQxDepartmentInfosByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_DelQxDepartmentInfosByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxDepartmentInfo_DelQxDepartmentInfosByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxDepartmentInfoEN" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxDepartmentInfoEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strDepartmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxDepartmentInfo_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxDepartmentInfo_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxDepartmentInfo_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetQxDepartmentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetQxDepartmentInfo" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetQxDepartmentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetQxDepartmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetObjByDepartmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetObjByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetObjByDepartmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetObjByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetQxDepartmentInfoVSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetQxDepartmentInfoV" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetQxDepartmentInfoVSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetQxDepartmentInfoVResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByDepartmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByDepartmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelQxDepartmentInfosSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelQxDepartmentInfos" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelQxDepartmentInfosSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelQxDepartmentInfosResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelQxDepartmentInfosByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelQxDepartmentInfosByCond" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_DelQxDepartmentInfosByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_DelQxDepartmentInfosByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxDepartmentInfo_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxDepartmentInfo_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxDepartmentInfoServiceSoap">
    <wsdl:operation name="QxDepartmentInfo_GetDataSet">
      <wsdl:input message="tns:QxDepartmentInfo_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopDataSet">
      <wsdl:input message="tns:QxDepartmentInfo_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetByRange">
      <wsdl:input message="tns:QxDepartmentInfo_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetV">
      <wsdl:input message="tns:QxDepartmentInfo_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfo">
      <wsdl:input message="tns:QxDepartmentInfo_GetQxDepartmentInfoSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetQxDepartmentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjByDepartmentId">
      <wsdl:input message="tns:QxDepartmentInfo_GetObjByDepartmentIdSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetObjByDepartmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfoV">
      <wsdl:input message="tns:QxDepartmentInfo_GetQxDepartmentInfoVSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetQxDepartmentInfoVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjLst">
      <wsdl:input message="tns:QxDepartmentInfo_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopObjLst">
      <wsdl:input message="tns:QxDepartmentInfo_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstID_S">
      <wsdl:input message="tns:QxDepartmentInfo_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstObj_S">
      <wsdl:input message="tns:QxDepartmentInfo_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <wsdl:input message="tns:GetJSONObjByDepartmentIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByDepartmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_funGetRecCountByCond">
      <wsdl:input message="tns:QxDepartmentInfo_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExistRecord">
      <wsdl:input message="tns:QxDepartmentInfo_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExist">
      <wsdl:input message="tns:QxDepartmentInfo_IsExistSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrId">
      <wsdl:input message="tns:QxDepartmentInfo_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxDepartmentInfo_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2">
      <wsdl:input message="tns:QxDepartmentInfo_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxDepartmentInfo_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxDepartmentInfo_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2">
      <wsdl:input message="tns:QxDepartmentInfo_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxDepartmentInfo_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxDepartmentInfo_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql_XML">
      <wsdl:input message="tns:QxDepartmentInfo_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelRecord">
      <wsdl:input message="tns:QxDepartmentInfo_DelRecordSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfos">
      <wsdl:input message="tns:QxDepartmentInfo_DelQxDepartmentInfosSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_DelQxDepartmentInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfosByCond">
      <wsdl:input message="tns:QxDepartmentInfo_DelQxDepartmentInfosByCondSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_DelQxDepartmentInfosByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxDepartmentInfo_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxDepartmentInfo_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxDepartmentInfo_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxDepartmentInfo_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxDepartmentInfoServiceSoap" type="tns:QxDepartmentInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxDepartmentInfo_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfo">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetQxDepartmentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfoV">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetQxDepartmentInfoV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfos">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelQxDepartmentInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfosByCond">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelQxDepartmentInfosByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxDepartmentInfoServiceSoap12" type="tns:QxDepartmentInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxDepartmentInfo_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfo">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetQxDepartmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetQxDepartmentInfoV">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetQxDepartmentInfoV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByDepartmentId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfos">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelQxDepartmentInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_DelQxDepartmentInfosByCond">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_DelQxDepartmentInfosByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxDepartmentInfo_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxDepartmentInfo_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxDepartmentInfoService">
    <wsdl:port name="QxDepartmentInfoServiceSoap" binding="tns:QxDepartmentInfoServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/QxDepartmentInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxDepartmentInfoServiceSoap12" binding="tns:QxDepartmentInfoServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/QxDepartmentInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>