GeneralPlatform4WS/Service References/ServiceReferencevQxRoleMenus/vQxRoleMenusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxRoleMenus_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetvQxRoleMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxRoleMenusEN" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxRoleMenusEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpMenuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LinkFile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="qsParameters" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImgFile" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLeafNode" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PageDispModeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PageDispModeName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="InUse" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpMenuName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RoleNum" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDisp" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxRoleMenus_GetvQxRoleMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_GetvQxRoleMenusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxRoleMenusEN" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetObjBymIdResult" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetvQxRoleMenusV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxRoleMenusEN" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetvQxRoleMenusVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_GetvQxRoleMenusVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxRoleMenusEN" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetObjLstResult" type="tns:ArrayOfClsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxRoleMenusEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxRoleMenusEN" nillable="true" type="tns:clsvQxRoleMenusEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetTopObjLstResult" type="tns:ArrayOfClsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_GetFirstObj_SResult" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxRoleMenus_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxRoleMenusEN" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxRoleMenus_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxRoleMenus_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxRoleMenus_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetvQxRoleMenusSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetvQxRoleMenus" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetvQxRoleMenusSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetvQxRoleMenusResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetvQxRoleMenusVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetvQxRoleMenusV" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetvQxRoleMenusVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetvQxRoleMenusVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxRoleMenus_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxRoleMenus_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxRoleMenusServiceSoap">
    <wsdl:operation name="vQxRoleMenus_GetDataSet">
      <wsdl:input message="tns:vQxRoleMenus_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopDataSet">
      <wsdl:input message="tns:vQxRoleMenus_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetDataSetByRange">
      <wsdl:input message="tns:vQxRoleMenus_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenus">
      <wsdl:input message="tns:vQxRoleMenus_GetvQxRoleMenusSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetvQxRoleMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjBymId">
      <wsdl:input message="tns:vQxRoleMenus_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenusV">
      <wsdl:input message="tns:vQxRoleMenus_GetvQxRoleMenusVSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetvQxRoleMenusVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjLst">
      <wsdl:input message="tns:vQxRoleMenus_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopObjLst">
      <wsdl:input message="tns:vQxRoleMenus_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstID_S">
      <wsdl:input message="tns:vQxRoleMenus_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstObj_S">
      <wsdl:input message="tns:vQxRoleMenus_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_funGetRecCountByCond">
      <wsdl:input message="tns:vQxRoleMenus_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExistRecord">
      <wsdl:input message="tns:vQxRoleMenus_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExist">
      <wsdl:input message="tns:vQxRoleMenus_IsExistSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxRoleMenus_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxRoleMenus_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxRoleMenus_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxRoleMenus_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxRoleMenusServiceSoap" type="tns:vQxRoleMenusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxRoleMenus_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenus">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetvQxRoleMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenusV">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetvQxRoleMenusV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxRoleMenusServiceSoap12" type="tns:vQxRoleMenusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxRoleMenus_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenus">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetvQxRoleMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetvQxRoleMenusV">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetvQxRoleMenusV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxRoleMenus_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxRoleMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxRoleMenusService">
    <wsdl:port name="vQxRoleMenusServiceSoap" binding="tns:vQxRoleMenusServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/vQxRoleMenusService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxRoleMenusServiceSoap12" binding="tns:vQxRoleMenusServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/vQxRoleMenusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>