GeneralPlatform4WS/Service References/ServiceReferencevQxUserRoles/vQxUserRolesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxUserRoles_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetvQxUserRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRolesEN" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxUserRolesEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleENName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RoleIndex" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsInUse" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxUserRoles_GetvQxUserRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoles_GetvQxUserRolesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRolesEN" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetObjByRoleId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRoleId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetObjByRoleIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetObjByRoleIdResult" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetvQxUserRolesV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRolesEN" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetvQxUserRolesVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoles_GetvQxUserRolesVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRolesEN" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetObjLstResult" type="tns:ArrayOfClsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxUserRolesEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxUserRolesEN" nillable="true" type="tns:clsvQxUserRolesEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetTopObjLstResult" type="tns:ArrayOfClsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_GetFirstObj_SResult" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByRoleId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRoleId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByRoleIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByRoleIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoles_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoles_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRoleId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxUserRoles_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxUserRolesEN" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxUserRolesEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRoleId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxUserRoles_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxUserRoles_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxUserRoles_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetvQxUserRolesSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetvQxUserRoles" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetvQxUserRolesSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetvQxUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetObjByRoleIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetObjByRoleId" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetObjByRoleIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetObjByRoleIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetvQxUserRolesVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetvQxUserRolesV" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetvQxUserRolesVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetvQxUserRolesVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByRoleIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByRoleId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByRoleIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByRoleIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxUserRoles_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxUserRoles_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxUserRolesServiceSoap">
    <wsdl:operation name="vQxUserRoles_GetDataSet">
      <wsdl:input message="tns:vQxUserRoles_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopDataSet">
      <wsdl:input message="tns:vQxUserRoles_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetDataSetByRange">
      <wsdl:input message="tns:vQxUserRoles_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRoles">
      <wsdl:input message="tns:vQxUserRoles_GetvQxUserRolesSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetvQxUserRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjByRoleId">
      <wsdl:input message="tns:vQxUserRoles_GetObjByRoleIdSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetObjByRoleIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRolesV">
      <wsdl:input message="tns:vQxUserRoles_GetvQxUserRolesVSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetvQxUserRolesVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjLst">
      <wsdl:input message="tns:vQxUserRoles_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopObjLst">
      <wsdl:input message="tns:vQxUserRoles_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstID_S">
      <wsdl:input message="tns:vQxUserRoles_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstObj_S">
      <wsdl:input message="tns:vQxUserRoles_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByRoleId">
      <wsdl:input message="tns:GetJSONObjByRoleIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByRoleIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_funGetRecCountByCond">
      <wsdl:input message="tns:vQxUserRoles_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExistRecord">
      <wsdl:input message="tns:vQxUserRoles_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExist">
      <wsdl:input message="tns:vQxUserRoles_IsExistSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxUserRoles_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserRoles_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxUserRoles_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxUserRoles_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxUserRolesServiceSoap" type="tns:vQxUserRolesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserRoles_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRoles">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetvQxUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjByRoleId">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetObjByRoleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRolesV">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetvQxUserRolesV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByRoleId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByRoleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxUserRolesServiceSoap12" type="tns:vQxUserRolesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxUserRoles_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRoles">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetvQxUserRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjByRoleId">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetObjByRoleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetvQxUserRolesV">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetvQxUserRolesV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByRoleId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByRoleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxUserRoles_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxUserRoles_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxUserRolesService">
    <wsdl:port name="vQxUserRolesServiceSoap" binding="tns:vQxUserRolesServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/UserManage/vQxUserRolesService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxUserRolesServiceSoap12" binding="tns:vQxUserRolesServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/UserManage/vQxUserRolesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>