GeneralPlatform4WS_Sim/Service References/ServiceReferenceLogin/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLogin2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLogin2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginWithEffectiveDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEffectiveDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginWithEffectiveDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserLoginWithEffectiveDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginByPrjId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPrjId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserLoginByPrjIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserLoginByPrjIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxUserIdByLoginName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQxUserIdByLoginNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQxUserIdByLoginNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="UserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UserLogin2SoapIn">
    <wsdl:part name="parameters" element="tns:UserLogin2" />
  </wsdl:message>
  <wsdl:message name="UserLogin2SoapOut">
    <wsdl:part name="parameters" element="tns:UserLogin2Response" />
  </wsdl:message>
  <wsdl:message name="UserLoginWithEffectiveDateSoapIn">
    <wsdl:part name="parameters" element="tns:UserLoginWithEffectiveDate" />
  </wsdl:message>
  <wsdl:message name="UserLoginWithEffectiveDateSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginWithEffectiveDateResponse" />
  </wsdl:message>
  <wsdl:message name="UserLoginByPrjIdSoapIn">
    <wsdl:part name="parameters" element="tns:UserLoginByPrjId" />
  </wsdl:message>
  <wsdl:message name="UserLoginByPrjIdSoapOut">
    <wsdl:part name="parameters" element="tns:UserLoginByPrjIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetQxUserIdByLoginNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetQxUserIdByLoginName" />
  </wsdl:message>
  <wsdl:message name="GetQxUserIdByLoginNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetQxUserIdByLoginNameResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginServiceSoap">
    <wsdl:operation name="UserLogin">
      <wsdl:input message="tns:UserLoginSoapIn" />
      <wsdl:output message="tns:UserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin2">
      <wsdl:input message="tns:UserLogin2SoapIn" />
      <wsdl:output message="tns:UserLogin2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLoginWithEffectiveDate">
      <wsdl:input message="tns:UserLoginWithEffectiveDateSoapIn" />
      <wsdl:output message="tns:UserLoginWithEffectiveDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserLoginByPrjId">
      <wsdl:input message="tns:UserLoginByPrjIdSoapIn" />
      <wsdl:output message="tns:UserLoginByPrjIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQxUserIdByLoginName">
      <wsdl:input message="tns:GetQxUserIdByLoginNameSoapIn" />
      <wsdl:output message="tns:GetQxUserIdByLoginNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginServiceSoap" type="tns:LoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin2">
      <soap:operation soapAction="http://tempuri.org/UserLogin2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLoginWithEffectiveDate">
      <soap:operation soapAction="http://tempuri.org/UserLoginWithEffectiveDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLoginByPrjId">
      <soap:operation soapAction="http://tempuri.org/UserLoginByPrjId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxUserIdByLoginName">
      <soap:operation soapAction="http://tempuri.org/GetQxUserIdByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginServiceSoap12" type="tns:LoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin2">
      <soap12:operation soapAction="http://tempuri.org/UserLogin2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLoginWithEffectiveDate">
      <soap12:operation soapAction="http://tempuri.org/UserLoginWithEffectiveDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLoginByPrjId">
      <soap12:operation soapAction="http://tempuri.org/UserLoginByPrjId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQxUserIdByLoginName">
      <soap12:operation soapAction="http://tempuri.org/GetQxUserIdByLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="LoginServiceSoap" binding="tns:LoginServiceSoap">
      <soap:address location="http://localhost:9259/LoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginServiceSoap12" binding="tns:LoginServiceSoap12">
      <soap12:address location="http://localhost:9259/LoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>