GeneralPlatform4WS/Service References/ServiceReferencevQxPrjMenuSet/vQxPrjMenuSetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="vQxPrjMenuSet_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetvQxPrjMenuSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjMenuSetEN" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsvQxPrjMenuSetEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuSetName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="vQxPrjMenuSet_GetvQxPrjMenuSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjMenuSet_GetvQxPrjMenuSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjMenuSetEN" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetObjByMenuSetId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetObjByMenuSetIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetObjByMenuSetIdResult" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetvQxPrjMenuSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjMenuSetEN" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetvQxPrjMenuSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjMenuSet_GetvQxPrjMenuSetVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjMenuSetEN" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetObjLstResult" type="tns:ArrayOfClsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsvQxPrjMenuSetEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsvQxPrjMenuSetEN" nillable="true" type="tns:clsvQxPrjMenuSetEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetTopObjLstResult" type="tns:ArrayOfClsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_GetFirstObj_SResult" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByMenuSetId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByMenuSetIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByMenuSetIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjMenuSet_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjMenuSet_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="vQxPrjMenuSet_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objvQxPrjMenuSetEN" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsvQxPrjMenuSetEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMenuSetId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="vQxPrjMenuSet_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vQxPrjMenuSet_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="vQxPrjMenuSet_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetvQxPrjMenuSetSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetvQxPrjMenuSet" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetvQxPrjMenuSetSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetvQxPrjMenuSetResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetObjByMenuSetIdSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetObjByMenuSetId" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetObjByMenuSetIdSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetObjByMenuSetIdResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetvQxPrjMenuSetVSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetvQxPrjMenuSetV" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetvQxPrjMenuSetVSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetvQxPrjMenuSetVResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByMenuSetIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByMenuSetId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByMenuSetIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByMenuSetIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_IsExist" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="vQxPrjMenuSet_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:vQxPrjMenuSet_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="vQxPrjMenuSetServiceSoap">
    <wsdl:operation name="vQxPrjMenuSet_GetDataSet">
      <wsdl:input message="tns:vQxPrjMenuSet_GetDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopDataSet">
      <wsdl:input message="tns:vQxPrjMenuSet_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetDataSetByRange">
      <wsdl:input message="tns:vQxPrjMenuSet_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSet">
      <wsdl:input message="tns:vQxPrjMenuSet_GetvQxPrjMenuSetSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetvQxPrjMenuSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjByMenuSetId">
      <wsdl:input message="tns:vQxPrjMenuSet_GetObjByMenuSetIdSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetObjByMenuSetIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSetV">
      <wsdl:input message="tns:vQxPrjMenuSet_GetvQxPrjMenuSetVSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetvQxPrjMenuSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjLst">
      <wsdl:input message="tns:vQxPrjMenuSet_GetObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopObjLst">
      <wsdl:input message="tns:vQxPrjMenuSet_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstID_S">
      <wsdl:input message="tns:vQxPrjMenuSet_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstObj_S">
      <wsdl:input message="tns:vQxPrjMenuSet_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <wsdl:input message="tns:GetJSONObjByMenuSetIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByMenuSetIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_funGetRecCountByCond">
      <wsdl:input message="tns:vQxPrjMenuSet_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExistRecord">
      <wsdl:input message="tns:vQxPrjMenuSet_IsExistRecordSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExist">
      <wsdl:input message="tns:vQxPrjMenuSet_IsExistSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjToXMLStr">
      <wsdl:input message="tns:vQxPrjMenuSet_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjMenuSet_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:vQxPrjMenuSet_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:vQxPrjMenuSet_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vQxPrjMenuSetServiceSoap" type="tns:vQxPrjMenuSetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjMenuSet_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSet">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetvQxPrjMenuSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjByMenuSetId">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSetV">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetvQxPrjMenuSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExist">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vQxPrjMenuSetServiceSoap12" type="tns:vQxPrjMenuSetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="vQxPrjMenuSet_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSet">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetvQxPrjMenuSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjByMenuSetId">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetvQxPrjMenuSetV">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetvQxPrjMenuSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByMenuSetId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByMenuSetId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_IsExist">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vQxPrjMenuSet_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/vQxPrjMenuSet_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vQxPrjMenuSetService">
    <wsdl:port name="vQxPrjMenuSetServiceSoap" binding="tns:vQxPrjMenuSetServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/vQxPrjMenuSetService.asmx" />
    </wsdl:port>
    <wsdl:port name="vQxPrjMenuSetServiceSoap12" binding="tns:vQxPrjMenuSetServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/vQxPrjMenuSetService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>