GeneralPlatform4WS/Service References/ServiceReferenceQxUserDownLoadLog/QxUserDownLoadLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserDownLoadLog_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetQxUserDownLoadLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserDownLoadLogEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserDownLoadLogId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrjSiteId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DownLownDate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="LogInfo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserDownLoadLog_GetQxUserDownLoadLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_GetQxUserDownLoadLogResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetObjByUserDownLoadLogId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetObjByUserDownLoadLogIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetObjByUserDownLoadLogIdResult" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetQxUserDownLoadLogV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetQxUserDownLoadLogVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_GetQxUserDownLoadLogVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetObjLstResult" type="tns:ArrayOfClsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserDownLoadLogEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserDownLoadLogEN" nillable="true" type="tns:clsQxUserDownLoadLogEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetTopObjLstResult" type="tns:ArrayOfClsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetFirstID_SResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetFirstObj_SResult" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserDownLoadLogId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjByUserDownLoadLogIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjByUserDownLoadLogIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetMaxStrId">
        <s:complexType />
      </s:element>
      <s:element name="QxUserDownLoadLog_GetMaxStrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetMaxStrIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetMaxStrIdByPrefix">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPrefix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_GetMaxStrIdByPrefixResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_GetMaxStrIdByPrefixResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserDownLoadLogJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserDownLoadLogObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserDownLoadLogJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserDownLoadLogObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelQxUserDownLoadLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelQxUserDownLoadLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_DelQxUserDownLoadLogsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserDownLoadLogEN" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserDownLoadLogEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserDownLoadLogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserDownLoadLog_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserDownLoadLog_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetQxUserDownLoadLogSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetQxUserDownLoadLog" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetQxUserDownLoadLogSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetQxUserDownLoadLogResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetObjByUserDownLoadLogIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetObjByUserDownLoadLogId" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetObjByUserDownLoadLogIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetObjByUserDownLoadLogIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetQxUserDownLoadLogVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetQxUserDownLoadLogV" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetQxUserDownLoadLogVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetQxUserDownLoadLogVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserDownLoadLogIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserDownLoadLogId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjByUserDownLoadLogIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjByUserDownLoadLogIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetMaxStrIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetMaxStrId" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetMaxStrIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetMaxStrIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetMaxStrIdByPrefixSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetMaxStrIdByPrefix" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_GetMaxStrIdByPrefixSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_GetMaxStrIdByPrefixResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelQxUserDownLoadLogsSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelQxUserDownLoadLogs" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelQxUserDownLoadLogsSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserDownLoadLog_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserDownLoadLog_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserDownLoadLogServiceSoap">
    <wsdl:operation name="QxUserDownLoadLog_GetDataSet">
      <wsdl:input message="tns:QxUserDownLoadLog_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopDataSet">
      <wsdl:input message="tns:QxUserDownLoadLog_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetByRange">
      <wsdl:input message="tns:QxUserDownLoadLog_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetV">
      <wsdl:input message="tns:QxUserDownLoadLog_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLog">
      <wsdl:input message="tns:QxUserDownLoadLog_GetQxUserDownLoadLogSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetQxUserDownLoadLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjByUserDownLoadLogId">
      <wsdl:input message="tns:QxUserDownLoadLog_GetObjByUserDownLoadLogIdSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetObjByUserDownLoadLogIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLogV">
      <wsdl:input message="tns:QxUserDownLoadLog_GetQxUserDownLoadLogVSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetQxUserDownLoadLogVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjLst">
      <wsdl:input message="tns:QxUserDownLoadLog_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopObjLst">
      <wsdl:input message="tns:QxUserDownLoadLog_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstID_S">
      <wsdl:input message="tns:QxUserDownLoadLog_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstObj_S">
      <wsdl:input message="tns:QxUserDownLoadLog_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserDownLoadLogId">
      <wsdl:input message="tns:GetJSONObjByUserDownLoadLogIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjByUserDownLoadLogIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserDownLoadLog_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExistRecord">
      <wsdl:input message="tns:QxUserDownLoadLog_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExist">
      <wsdl:input message="tns:QxUserDownLoadLog_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrId">
      <wsdl:input message="tns:QxUserDownLoadLog_GetMaxStrIdSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetMaxStrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrIdByPrefix">
      <wsdl:input message="tns:QxUserDownLoadLog_GetMaxStrIdByPrefixSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_GetMaxStrIdByPrefixSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserDownLoadLog_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserDownLoadLog_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserDownLoadLog_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2">
      <wsdl:input message="tns:QxUserDownLoadLog_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserDownLoadLog_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserDownLoadLog_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserDownLoadLog_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelRecord">
      <wsdl:input message="tns:QxUserDownLoadLog_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogs">
      <wsdl:input message="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCond">
      <wsdl:input message="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsByCondSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_DelQxUserDownLoadLogsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserDownLoadLog_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserDownLoadLog_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserDownLoadLog_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserDownLoadLog_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserDownLoadLogServiceSoap" type="tns:QxUserDownLoadLogServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserDownLoadLog_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLog">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetQxUserDownLoadLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjByUserDownLoadLogId">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetObjByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLogV">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetQxUserDownLoadLogV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserDownLoadLogId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrId">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrIdByPrefix">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogs">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelQxUserDownLoadLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelQxUserDownLoadLogsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserDownLoadLogServiceSoap12" type="tns:QxUserDownLoadLogServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserDownLoadLog_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLog">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetQxUserDownLoadLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjByUserDownLoadLogId">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetObjByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetQxUserDownLoadLogV">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetQxUserDownLoadLogV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjByUserDownLoadLogId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjByUserDownLoadLogId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrId">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetMaxStrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_GetMaxStrIdByPrefix">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_GetMaxStrIdByPrefix" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogs">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelQxUserDownLoadLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_DelQxUserDownLoadLogsByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_DelQxUserDownLoadLogsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserDownLoadLog_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserDownLoadLog_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserDownLoadLogService">
    <wsdl:port name="QxUserDownLoadLogServiceSoap" binding="tns:QxUserDownLoadLogServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/QxUserDownLoadLogService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserDownLoadLogServiceSoap12" binding="tns:QxUserDownLoadLogServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/QxUserDownLoadLogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>