GeneralPlatform4WS/Service References/ServiceReferenceQxUserMenuDetail/QxUserMenuDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxUserMenuDetail_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetQxUserMenuDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxUserMenuDetailEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDisp" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpMenuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LinkFile" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ImgFile" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsCustomMenu" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderNum" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxUserMenuDetail_GetQxUserMenuDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_GetQxUserMenuDetailResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetObjBymIdResult" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetQxUserMenuDetailV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetQxUserMenuDetailVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_GetQxUserMenuDetailVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetObjLstResult" type="tns:ArrayOfClsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxUserMenuDetailEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxUserMenuDetailEN" nillable="true" type="tns:clsQxUserMenuDetailEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetTopObjLstResult" type="tns:ArrayOfClsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_GetFirstObj_SResult" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenuDetailJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenuDetailObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenuDetailJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxUserMenuDetailObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelQxUserMenuDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelQxUserMenuDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_DelQxUserMenuDetailsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelQxUserMenuDetailsByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_DelQxUserMenuDetailsByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxUserMenuDetail_DelQxUserMenuDetailsByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxUserMenuDetailEN" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxUserMenuDetailEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxUserMenuDetail_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxUserMenuDetail_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxUserMenuDetail_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetQxUserMenuDetailSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetQxUserMenuDetail" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetQxUserMenuDetailSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetQxUserMenuDetailResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetQxUserMenuDetailVSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetQxUserMenuDetailV" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetQxUserMenuDetailVSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetQxUserMenuDetailVResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelQxUserMenuDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelQxUserMenuDetails" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelQxUserMenuDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelQxUserMenuDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelQxUserMenuDetailsByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelQxUserMenuDetailsByCond" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_DelQxUserMenuDetailsByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_DelQxUserMenuDetailsByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxUserMenuDetail_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxUserMenuDetail_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxUserMenuDetailServiceSoap">
    <wsdl:operation name="QxUserMenuDetail_GetDataSet">
      <wsdl:input message="tns:QxUserMenuDetail_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopDataSet">
      <wsdl:input message="tns:QxUserMenuDetail_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetByRange">
      <wsdl:input message="tns:QxUserMenuDetail_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetV">
      <wsdl:input message="tns:QxUserMenuDetail_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetail">
      <wsdl:input message="tns:QxUserMenuDetail_GetQxUserMenuDetailSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetQxUserMenuDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjBymId">
      <wsdl:input message="tns:QxUserMenuDetail_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetailV">
      <wsdl:input message="tns:QxUserMenuDetail_GetQxUserMenuDetailVSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetQxUserMenuDetailVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjLst">
      <wsdl:input message="tns:QxUserMenuDetail_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopObjLst">
      <wsdl:input message="tns:QxUserMenuDetail_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstID_S">
      <wsdl:input message="tns:QxUserMenuDetail_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstObj_S">
      <wsdl:input message="tns:QxUserMenuDetail_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_funGetRecCountByCond">
      <wsdl:input message="tns:QxUserMenuDetail_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExistRecord">
      <wsdl:input message="tns:QxUserMenuDetail_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExist">
      <wsdl:input message="tns:QxUserMenuDetail_IsExistSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2">
      <wsdl:input message="tns:QxUserMenuDetail_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxUserMenuDetail_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxUserMenuDetail_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxUserMenuDetail_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2">
      <wsdl:input message="tns:QxUserMenuDetail_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxUserMenuDetail_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxUserMenuDetail_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql_XML">
      <wsdl:input message="tns:QxUserMenuDetail_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelRecord">
      <wsdl:input message="tns:QxUserMenuDetail_DelRecordSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetails">
      <wsdl:input message="tns:QxUserMenuDetail_DelQxUserMenuDetailsSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_DelQxUserMenuDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetailsByCond">
      <wsdl:input message="tns:QxUserMenuDetail_DelQxUserMenuDetailsByCondSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_DelQxUserMenuDetailsByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxUserMenuDetail_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxUserMenuDetail_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxUserMenuDetail_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxUserMenuDetail_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxUserMenuDetailServiceSoap" type="tns:QxUserMenuDetailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserMenuDetail_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetail">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetQxUserMenuDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetailV">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetQxUserMenuDetailV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetails">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelQxUserMenuDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetailsByCond">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelQxUserMenuDetailsByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxUserMenuDetailServiceSoap12" type="tns:QxUserMenuDetailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxUserMenuDetail_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetail">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetQxUserMenuDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetQxUserMenuDetailV">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetQxUserMenuDetailV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetails">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelQxUserMenuDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_DelQxUserMenuDetailsByCond">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_DelQxUserMenuDetailsByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxUserMenuDetail_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxUserMenuDetail_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxUserMenuDetailService">
    <wsdl:port name="QxUserMenuDetailServiceSoap" binding="tns:QxUserMenuDetailServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/QxUserMenuDetailService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxUserMenuDetailServiceSoap12" binding="tns:QxUserMenuDetailServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/QxUserMenuDetailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>