GeneralPlatform4WS/Service References/ServiceReferenceQxPrjFileRela/QxPrjFileRelaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxPrjFileRela_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetQxPrjFileRela">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxPrjFileRelaEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNeedDownLoad" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxPrjFileRela_GetQxPrjFileRelaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_GetQxPrjFileRelaResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetObjBymIdResult" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetQxPrjFileRelaV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetQxPrjFileRelaVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_GetQxPrjFileRelaVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetObjLstResult" type="tns:ArrayOfClsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxPrjFileRelaEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxPrjFileRelaEN" nillable="true" type="tns:clsQxPrjFileRelaEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetTopObjLstResult" type="tns:ArrayOfClsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_GetFirstObj_SResult" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjFileRelaJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjFileRelaObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjFileRelaJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxPrjFileRelaObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelQxPrjFileRelas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelQxPrjFileRelasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_DelQxPrjFileRelasResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelQxPrjFileRelasByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_DelQxPrjFileRelasByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxPrjFileRela_DelQxPrjFileRelasByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxPrjFileRelaEN" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxPrjFileRelaEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxPrjFileRela_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxPrjFileRela_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxPrjFileRela_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetQxPrjFileRelaSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetQxPrjFileRela" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetQxPrjFileRelaSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetQxPrjFileRelaResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetQxPrjFileRelaVSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetQxPrjFileRelaV" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetQxPrjFileRelaVSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetQxPrjFileRelaVResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelQxPrjFileRelasSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelQxPrjFileRelas" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelQxPrjFileRelasSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelQxPrjFileRelasResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelQxPrjFileRelasByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelQxPrjFileRelasByCond" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_DelQxPrjFileRelasByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_DelQxPrjFileRelasByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxPrjFileRela_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxPrjFileRela_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxPrjFileRelaServiceSoap">
    <wsdl:operation name="QxPrjFileRela_GetDataSet">
      <wsdl:input message="tns:QxPrjFileRela_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopDataSet">
      <wsdl:input message="tns:QxPrjFileRela_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetByRange">
      <wsdl:input message="tns:QxPrjFileRela_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetV">
      <wsdl:input message="tns:QxPrjFileRela_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRela">
      <wsdl:input message="tns:QxPrjFileRela_GetQxPrjFileRelaSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetQxPrjFileRelaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjBymId">
      <wsdl:input message="tns:QxPrjFileRela_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRelaV">
      <wsdl:input message="tns:QxPrjFileRela_GetQxPrjFileRelaVSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetQxPrjFileRelaVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjLst">
      <wsdl:input message="tns:QxPrjFileRela_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopObjLst">
      <wsdl:input message="tns:QxPrjFileRela_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstID_S">
      <wsdl:input message="tns:QxPrjFileRela_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstObj_S">
      <wsdl:input message="tns:QxPrjFileRela_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_funGetRecCountByCond">
      <wsdl:input message="tns:QxPrjFileRela_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExistRecord">
      <wsdl:input message="tns:QxPrjFileRela_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExist">
      <wsdl:input message="tns:QxPrjFileRela_IsExistSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2">
      <wsdl:input message="tns:QxPrjFileRela_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxPrjFileRela_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxPrjFileRela_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxPrjFileRela_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2">
      <wsdl:input message="tns:QxPrjFileRela_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxPrjFileRela_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxPrjFileRela_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql_XML">
      <wsdl:input message="tns:QxPrjFileRela_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelRecord">
      <wsdl:input message="tns:QxPrjFileRela_DelRecordSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelas">
      <wsdl:input message="tns:QxPrjFileRela_DelQxPrjFileRelasSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_DelQxPrjFileRelasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelasByCond">
      <wsdl:input message="tns:QxPrjFileRela_DelQxPrjFileRelasByCondSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_DelQxPrjFileRelasByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxPrjFileRela_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxPrjFileRela_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxPrjFileRela_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxPrjFileRela_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxPrjFileRelaServiceSoap" type="tns:QxPrjFileRelaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxPrjFileRela_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRela">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetQxPrjFileRela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRelaV">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetQxPrjFileRelaV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelas">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_DelQxPrjFileRelas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelasByCond">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_DelQxPrjFileRelasByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxPrjFileRelaServiceSoap12" type="tns:QxPrjFileRelaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxPrjFileRela_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRela">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetQxPrjFileRela" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetQxPrjFileRelaV">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetQxPrjFileRelaV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelas">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_DelQxPrjFileRelas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_DelQxPrjFileRelasByCond">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_DelQxPrjFileRelasByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxPrjFileRela_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxPrjFileRela_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxPrjFileRelaService">
    <wsdl:port name="QxPrjFileRelaServiceSoap" binding="tns:QxPrjFileRelaServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/QxPrjFileRelaService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxPrjFileRelaServiceSoap12" binding="tns:QxPrjFileRelaServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/PrjFileDownLoad/QxPrjFileRelaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>