GeneralPlatform4WS/Service References/ServiceReferenceQxRoleMenus/QxRoleMenusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QxRoleMenus_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetTopDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetTopDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetTopDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetDataSetByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetDataSetByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetDataSetByRangeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetDataSetV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetDataSetVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetDataSetVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetQxRoleMenus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsQxRoleMenusEN">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsEntityBase2">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="mId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QxPrjId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MenuId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsDisp" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsEntityBase2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sf_UpdFldSetStr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IntTag" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Checked" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckProperty" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DispErrMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TabKeyFldNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QxRoleMenus_GetQxRoleMenusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_GetQxRoleMenusResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetObjBymIdResult" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetQxRoleMenusV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetQxRoleMenusVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_GetQxRoleMenusVResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetObjLstResult" type="tns:ArrayOfClsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsQxRoleMenusEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsQxRoleMenusEN" nillable="true" type="tns:clsQxRoleMenusEN" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjLstByRangeResult" type="tns:ArrayOfClsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetTopObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetTopObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetTopObjLstResult" type="tns:ArrayOfClsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetFirstID_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetFirstID_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_GetFirstID_SResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetFirstObj_S">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_GetFirstObj_SResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_GetFirstObj_SResult" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjBymIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjBymIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirstJSONObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstJSONObjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLst">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopJSONObjLstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopJSONObjLstResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intPageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByPagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="intMinNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="intMaxNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJSONObjLstByRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJSONObjLstByRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_funGetRecCountByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_funGetRecCountByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_funGetRecCountByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_IsExistRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_IsExistRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_IsExistRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_IsExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_IsExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_IsExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_AddNewRecordBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxRoleMenusJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_AddNewRecordBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2WithReturnKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql2WithReturnKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_AddNewRecordBySql2WithReturnKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxRoleMenusObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_AddNewRecordBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_AddNewRecordBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_UpdateBySql2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql2ByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxRoleMenusJSONObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql2ByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_UpdateBySql2ByJSONResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySqlWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySqlWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_UpdateBySqlWithConditionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strQxRoleMenusObjXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_UpdateBySql_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_UpdateBySql_XMLResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_DelRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelQxRoleMenuss">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJSON4Keys" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelQxRoleMenussResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_DelQxRoleMenussResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKeyIdLst" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelRecordsByJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelRecordsByJSONResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelQxRoleMenussByCond">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_DelQxRoleMenussByCondResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QxRoleMenus_DelQxRoleMenussByCondResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objQxRoleMenusEN" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExposeLogicClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExposeLogicClassResult" type="tns:clsQxRoleMenusEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeObjToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngmId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeObjToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_SerializeObjToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_SerializeObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeTopObjLstToXMLStr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="intTopSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhereCond" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QxRoleMenus_SerializeTopObjLstToXMLStrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QxRoleMenus_SerializeTopObjLstToXMLStrResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QxRoleMenus_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetTopDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetTopDataSet" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetTopDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetTopDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetDataSetByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSetByRange" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetDataSetByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSetByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetDataSetVSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSetV" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetDataSetVSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetDataSetVResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetQxRoleMenusSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetQxRoleMenus" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetQxRoleMenusSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetQxRoleMenusResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetObjBymId" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetQxRoleMenusVSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetQxRoleMenusV" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetQxRoleMenusVSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetQxRoleMenusVResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetObjLst" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetTopObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetTopObjLst" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetTopObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetTopObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetFirstID_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetFirstID_S" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetFirstID_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetFirstID_SResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetFirstObj_SSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetFirstObj_S" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_GetFirstObj_SSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_GetFirstObj_SResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymId" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjBymIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjBymIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObj" />
  </wsdl:message>
  <wsdl:message name="GetFirstJSONObjSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstJSONObjResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLst" />
  </wsdl:message>
  <wsdl:message name="GetTopJSONObjLstSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopJSONObjLstResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPager" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByPagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByPagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRange" />
  </wsdl:message>
  <wsdl:message name="GetJSONObjLstByRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJSONObjLstByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_funGetRecCountByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_funGetRecCountByCond" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_funGetRecCountByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_funGetRecCountByCondResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_IsExistRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_IsExistRecord" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_IsExistRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_IsExistRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_IsExistSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_IsExist" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_IsExistSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_IsExistResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2WithReturnKeySoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2WithReturnKey" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql2WithReturnKeySoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql2WithReturnKeyResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_AddNewRecordBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_AddNewRecordBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql2SoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql2" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql2SoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql2Response" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql2ByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql2ByJSON" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql2ByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql2ByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySqlWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySqlWithCondition" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySqlWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySqlWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql_XML" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_UpdateBySql_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_UpdateBySql_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelRecordSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelRecord" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelRecordSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelRecordResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelQxRoleMenussSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelQxRoleMenuss" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelQxRoleMenussSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelQxRoleMenussResponse" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapIn">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSON" />
  </wsdl:message>
  <wsdl:message name="DelRecordsByJSONSoapOut">
    <wsdl:part name="parameters" element="tns:DelRecordsByJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelQxRoleMenussByCondSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelQxRoleMenussByCond" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_DelQxRoleMenussByCondSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_DelQxRoleMenussByCondResponse" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapIn">
    <wsdl:part name="parameters" element="tns:ExposeLogicClass" />
  </wsdl:message>
  <wsdl:message name="ExposeLogicClassSoapOut">
    <wsdl:part name="parameters" element="tns:ExposeLogicClassResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeObjToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeObjToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeObjToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeObjToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeTopObjLstToXMLStrSoapIn">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeTopObjLstToXMLStr" />
  </wsdl:message>
  <wsdl:message name="QxRoleMenus_SerializeTopObjLstToXMLStrSoapOut">
    <wsdl:part name="parameters" element="tns:QxRoleMenus_SerializeTopObjLstToXMLStrResponse" />
  </wsdl:message>
  <wsdl:portType name="QxRoleMenusServiceSoap">
    <wsdl:operation name="QxRoleMenus_GetDataSet">
      <wsdl:input message="tns:QxRoleMenus_GetDataSetSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopDataSet">
      <wsdl:input message="tns:QxRoleMenus_GetTopDataSetSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetTopDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetByRange">
      <wsdl:input message="tns:QxRoleMenus_GetDataSetByRangeSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetDataSetByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetV">
      <wsdl:input message="tns:QxRoleMenus_GetDataSetVSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetDataSetVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenus">
      <wsdl:input message="tns:QxRoleMenus_GetQxRoleMenusSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetQxRoleMenusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjBymId">
      <wsdl:input message="tns:QxRoleMenus_GetObjBymIdSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenusV">
      <wsdl:input message="tns:QxRoleMenus_GetQxRoleMenusVSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetQxRoleMenusVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjLst">
      <wsdl:input message="tns:QxRoleMenus_GetObjLstSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <wsdl:input message="tns:GetObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopObjLst">
      <wsdl:input message="tns:QxRoleMenus_GetTopObjLstSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetTopObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstID_S">
      <wsdl:input message="tns:QxRoleMenus_GetFirstID_SSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetFirstID_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstObj_S">
      <wsdl:input message="tns:QxRoleMenus_GetFirstObj_SSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_GetFirstObj_SSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <wsdl:input message="tns:GetJSONObjBymIdSoapIn" />
      <wsdl:output message="tns:GetJSONObjBymIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <wsdl:input message="tns:GetFirstJSONObjSoapIn" />
      <wsdl:output message="tns:GetFirstJSONObjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <wsdl:input message="tns:GetJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <wsdl:input message="tns:GetTopJSONObjLstSoapIn" />
      <wsdl:output message="tns:GetTopJSONObjLstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <wsdl:input message="tns:GetJSONObjLstByPagerSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <wsdl:input message="tns:GetJSONObjLstByRangeSoapIn" />
      <wsdl:output message="tns:GetJSONObjLstByRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_funGetRecCountByCond">
      <wsdl:input message="tns:QxRoleMenus_funGetRecCountByCondSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_funGetRecCountByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExistRecord">
      <wsdl:input message="tns:QxRoleMenus_IsExistRecordSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_IsExistRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExist">
      <wsdl:input message="tns:QxRoleMenus_IsExistSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_IsExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2">
      <wsdl:input message="tns:QxRoleMenus_AddNewRecordBySql2SoapIn" />
      <wsdl:output message="tns:QxRoleMenus_AddNewRecordBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2ByJSON">
      <wsdl:input message="tns:QxRoleMenus_AddNewRecordBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_AddNewRecordBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2WithReturnKey">
      <wsdl:input message="tns:QxRoleMenus_AddNewRecordBySql2WithReturnKeySoapIn" />
      <wsdl:output message="tns:QxRoleMenus_AddNewRecordBySql2WithReturnKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql_XML">
      <wsdl:input message="tns:QxRoleMenus_AddNewRecordBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_AddNewRecordBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2">
      <wsdl:input message="tns:QxRoleMenus_UpdateBySql2SoapIn" />
      <wsdl:output message="tns:QxRoleMenus_UpdateBySql2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2ByJSON">
      <wsdl:input message="tns:QxRoleMenus_UpdateBySql2ByJSONSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_UpdateBySql2ByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySqlWithCondition">
      <wsdl:input message="tns:QxRoleMenus_UpdateBySqlWithConditionSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_UpdateBySqlWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql_XML">
      <wsdl:input message="tns:QxRoleMenus_UpdateBySql_XMLSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_UpdateBySql_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelRecord">
      <wsdl:input message="tns:QxRoleMenus_DelRecordSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_DelRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenuss">
      <wsdl:input message="tns:QxRoleMenus_DelQxRoleMenussSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_DelQxRoleMenussSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <wsdl:input message="tns:DelRecordsByJSONSoapIn" />
      <wsdl:output message="tns:DelRecordsByJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenussByCond">
      <wsdl:input message="tns:QxRoleMenus_DelQxRoleMenussByCondSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_DelQxRoleMenussByCondSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <wsdl:input message="tns:ExposeLogicClassSoapIn" />
      <wsdl:output message="tns:ExposeLogicClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjToXMLStr">
      <wsdl:input message="tns:QxRoleMenus_SerializeObjToXMLStrSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_SerializeObjToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjLstToXMLStr">
      <wsdl:input message="tns:QxRoleMenus_SerializeObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_SerializeObjLstToXMLStrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeTopObjLstToXMLStr">
      <wsdl:input message="tns:QxRoleMenus_SerializeTopObjLstToXMLStrSoapIn" />
      <wsdl:output message="tns:QxRoleMenus_SerializeTopObjLstToXMLStrSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QxRoleMenusServiceSoap" type="tns:QxRoleMenusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxRoleMenus_GetDataSet">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopDataSet">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetByRange">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetV">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSetV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenus">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetQxRoleMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjBymId">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenusV">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetQxRoleMenusV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjLst">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopObjLst">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstID_S">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstObj_S">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_funGetRecCountByCond">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExistRecord">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExist">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_IsExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2WithReturnKey">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2ByJSON">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySqlWithCondition">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql_XML">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelRecord">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenuss">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_DelQxRoleMenuss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenussByCond">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_DelQxRoleMenussByCond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeTopObjLstToXMLStr">
      <soap:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QxRoleMenusServiceSoap12" type="tns:QxRoleMenusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QxRoleMenus_GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopDataSet">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetTopDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetByRange">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSetByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetDataSetV">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetDataSetV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenus">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetQxRoleMenus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjBymId">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetQxRoleMenusV">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetQxRoleMenusV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetTopObjLst">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetTopObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstID_S">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetFirstID_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_GetFirstObj_S">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_GetFirstObj_S" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjBymId">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjBymId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstJSONObj">
      <soap12:operation soapAction="http://tempuri.org/GetFirstJSONObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopJSONObjLst">
      <soap12:operation soapAction="http://tempuri.org/GetTopJSONObjLst" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByPager">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJSONObjLstByRange">
      <soap12:operation soapAction="http://tempuri.org/GetJSONObjLstByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_funGetRecCountByCond">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_funGetRecCountByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExistRecord">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_IsExistRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_IsExist">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_IsExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql2WithReturnKey">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql2WithReturnKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_AddNewRecordBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_AddNewRecordBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql2ByJSON">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql2ByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySqlWithCondition">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySqlWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_UpdateBySql_XML">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_UpdateBySql_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelRecord">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_DelRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenuss">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_DelQxRoleMenuss" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecordsByJSON">
      <soap12:operation soapAction="http://tempuri.org/DelRecordsByJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_DelQxRoleMenussByCond">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_DelQxRoleMenussByCond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExposeLogicClass">
      <soap12:operation soapAction="http://tempuri.org/ExposeLogicClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeObjToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QxRoleMenus_SerializeTopObjLstToXMLStr">
      <soap12:operation soapAction="http://tempuri.org/QxRoleMenus_SerializeTopObjLstToXMLStr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QxRoleMenusService">
    <wsdl:port name="QxRoleMenusServiceSoap" binding="tns:QxRoleMenusServiceSoap">
      <soap:address location="http://localhost/GP/WebSrv/MenuManage/QxRoleMenusService.asmx" />
    </wsdl:port>
    <wsdl:port name="QxRoleMenusServiceSoap12" binding="tns:QxRoleMenusServiceSoap12">
      <soap12:address location="http://localhost/GP/WebSrv/MenuManage/QxRoleMenusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>